<div class="modal fnb-modal  modal-center fade" id="add-photos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" modal-type="email">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close g-close" data-dismiss="modal" aria-label="Close">&#10005;</button>
            </div>
            <div class="modal-body">
                <img src="{{"img/upload-pic.png" | absURL}}" class="img-responsive">
    
                <div class="text-center m-t-30">
                    <button class="btn fnb-btn primary-btn border-btn center-block bold-btn full m-t-10 flex-row add-pic">Select Files</button>
                    <p class="m-b-0 x-small m-t-10">Please only upload photos that <span class="text-primary">you own the rights to.</span></p>
                </div>

            </div>
        </div>
    </div>
</div>
