<div class="modal fade fnb-modal" id="addBank" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-secondary">Add Bank Details</h4>
      </div>
      <hr>
      <div class="modal-body">

        <div class="text-left">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Account Number</label><br>
                <input type="text" class="form-control fnb-input" placeholder="Eg: HDCAR9874563210" name="">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Re-Enter Account Number</label><br>
                <input type="password" class="form-control fnb-input" placeholder="*************" name="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="modal-footer flex-row justify-center">
        <button type="button" class="btn fnb-btn outline" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn fnb-btn primary-btn" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>