<div class="modal fade fnb-modal" id="cancelModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-secondary">Cancel Booking</h4>
      </div>
      <hr>
      <div class="modal-body">
        <p class="p-t-20">
        	By proceeding, you confirm that you accept any penalty arising as a result of this cancellation.<br><br>
        	Are you sure you want to proceed?
        </p>
      </div>
      <hr>
      <div class="modal-footer flex-row justify-center">
        <button type="button" class="btn fnb-btn outline" data-dismiss="modal">No</button>
        <button type="button" class="btn fnb-btn secondary-btn" data-dismiss="modal">Yes, Cancel</button>
      </div>
    </div>
  </div>
</div>