<div class="modal fade fnb-modal" id="contactModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-secondary">Get in touch with us</h4>
      </div>
      <hr>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <h6 class="m-b-50">Your Market Manager</h6>
            <div class="market-manager-block">
              <div class="market-manager-img">
                <img src="{{"img/manager.jpg" | absURL}}" class="img-responsive">
              </div>
              <div class="market-manager-name">
                <div>Vikas Khanna</div>
                <!-- <small>(Market Manager)</small> -->
              </div>
              <div class="market-manager-number">
                <div><a href="tel:+919988446622" class="text-decor links-click">+91 9988446622</a></div>
                <small><a href="mailto:vikaskhanna@goomo.com" class="text-decor links-click">vikaskhanna@goomo.com</a></small>
              </div>
              <!-- <div>
                Goomo's Market Manager is your go-to person for any questions or concerns.
              </div> -->
            </div>
          </div>
          <div class="col-sm-6">
            <h6 class="m-b-50">Goomo Support</h6>

            <div class="market-manager-block">
              <div class="market-manager-img">
                <img src="{{"img/favicon.png" | absURL}}" class="img-responsive">
              </div>
              <div class="market-manager-name">
                <div>24x7 Support</div>
                <!-- <small>(Market Manager)</small> -->
              </div>
              <div class="market-manager-number">
                <div><a href="tel:+91-22-88446622" class="text-decor links-click">+91-22-88446622</a></div>
                <small><a href="mailto:hello@goomo.com" class="text-decor links-click">hello@goomo.com</a></small>
              </div>
              <!-- <div>
                Goomo's Market Manager is your go-to person for any questions or concerns.
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- <hr>
      <div class="modal-footer flex-row justify-center">
        <button type="button" class="btn fnb-btn outline" data-dismiss="modal">Not yet</button>
        <button type="button" class="btn fnb-btn primary-btn" data-dismiss="modal">Yes, Approve</button>
      </div> -->
    </div>
  </div>
</div>