
<div class="pos-fixed fly-out side-toggle">
    <div class="mobile-back desk-hide mobile-flex">
        <div class="left mobile-flex">
            <i class="fa fa-arrow-left text-primary back-icon" aria-hidden="true"></i>
            <p class="element-title heavier m-b-0">Back</p>
        </div>
        <div class="right">
        </div>
    </div>
    <div class="fly-out__content">
        <div class="sidebar-updates page-sidebar">
            <div class="page-sidebar__header flex-row space-between mobile-hide">
                <div class="backLink flex-row">
                    <a href="" class="primary-link p-r-10 element-title article-back"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                    <div class="sub-title bolder">Back to Amenities &amp; Services</div>
                </div>
            </div>
            <div class="page-sidebar__body">
                <div class="update-sec sidebar-article">
                    <div class="update-sec__body update-space">
                        <img src="{{"img/comment-pic.png" | absURL}}" class="img-responsive center-block">
                    </div>

                    {{ if $.Params.owner }}
                    <div class="post-comment m-t-40">
                        <div class="form-group m-b-30">
                            <label class="label-size text-info">Comments by owner</label>
                            <input type="text" class="form-control fnb-input" placeholder="Write a review">
                        </div>
                        <div class="form-group">
                            <button class="btn fnb-btn secondary-btn bold-btn full">Post</button>
                        </div>
                    </div>
                    {{ else }}
                    <!-- <div class="comment-box">
                        <div>
                            <span class="default-size p-r-10">Rylan Almeda (QC Team)</span>
                            <span><i class="fa fa-clock-o" aria-hidden="true"></i> <span class="text-lighter text-medium">18:55 / 17 March 2016</span></span>
                        </div>
                        <h6 class="bolder m-b-25">Name associated with bank account does not match</h6>
                        <a href="#" class="secondary-link label-size"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                    </div> -->
                    <div class="post-comment m-t-40">
                        <div class="form-group m-b-30">
                            <label class="label-size text-info">Comments by QC</label>
                            <input type="text" class="form-control fnb-input" placeholder="Write a review">
                        </div>
                        <div class="form-group">
                            <button class="btn fnb-btn secondary-btn bold-btn full">Post</button>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>