
<footer>
	<div class="container">
      <div class="goomoIcon">
      <img src="{{"img/goomo_logo.png" | absURL}}" class="img-responsive center-block m-t-10 m-b-20" width="">
      </div>
      <div class="footerText">
        <p class="copyright">
          <!-- react-text: 554 -->Copyright ©
          <!-- /react-text -->
          <!-- react-text: 555 -->2017
          <!-- /react-text -->
          <!-- react-text: 556 -->Goomo Group. All rights reserved.
          <!-- /react-text -->
        </p>
      </div>
    </div>
</footer>
