<div class="back-section desk-hide">
	<div class="back-btn">
		<i class="fa fa-chevron-left"></i>
	</div>
	<div class="back-title">
		Property Details
	</div>
</div>

<div class="market-manager-block">
	<div class="market-manager-img">
		<img src="{{"img/manager.jpg" | absURL}}" class="img-responsive">
	</div>
	<div class="market-manager-name">
		<div>Vikas Khanna</div>
		<small>(Market Manager)</small>
	</div>
	<div class="market-manager-number">
		<div><a href="tel:+919988446622" class="text-decor links-click">+91 9988446622</a></div>
		<small><a href="mailto:vikaskhanna@goomo.com" class="text-decor links-click">vikaskhanna@goomo.com</a></small>
	</div>
	<div>
		Goomo's Market Manager is your go-to person for any questions or concerns.
	</div>
</div>

<div class="content-score-block m-t-20">
	<h6 class="bolder">Content Score 20%</h6>
	<div class="progress">
	  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
	    <span class="sr-only">20% Complete</span>
	  </div>
	</div>
	<p class="text-muted bolder">
		A 100% complete property page can potentially get you more bookings.
	</p>
	<!-- <button class="btn btn-white outline fnb-btn m-t-5">Update your page</button> -->
</div>

<div class="logs-block">
	<div class="flex-row space-between">
		<h6 class="bolder">Audit Logs</h6>
		<a href="/goomo_html/details/audit/{{ $.Params.slug }}" class="bolder text-secondary">View All</a>
	</div>
	<div class="single-log">
		<div class="flex-row space-between align-top">
			<div class="bolder">
				John Doe <small>(Owner)</small>
			</div>
			<span class="text-muted small">2 days ago</span>
		</div>
		<p class="small">
			Updated inventory for Premium Room from 19-Oct-17 to 31-Oct-17
		</p>
	</div>
	<div class="single-log">
		<div class="flex-row space-between align-top">
			<div class="bolder">
				Vikas Khanna <small>(Market Manager)</small>
			</div>
			<span class="text-muted small text-right" style="min-width: 60px">3 days ago</span>
		</div>
		<p class="small">
			Updated Food &amp; Beverages and Fitness Spa
		</p>
	</div>
	<div class="single-log">
		<div class="flex-row space-between align-top">
			<div class="bolder">
				Vikas Khanna <small>(Market Manager)</small>
			</div>
			<span class="text-muted small text-right" style="min-width: 60px">4 days ago</span>
		</div>
		<p class="small">
			Updated Property Highlights
		</p>
	</div>
</div>
