<div class="">

	<label class="small-label">MAIN</label>
	<ul class="gs-steps menu-top-level" role="tablist">
		<li class="">
			<a href=" # " class=" form-toggle " id=""><i class="fa fa-bars"></i> Dashboard </a>
		</li>
		<li class="">
			<a href="#listingSubMenu" class=" form-toggle " id="" role="button" data-toggle="collapse"><i class="fa fa-list"></i> Properties</a>
			<ul class="gs-steps collapse in edit-mode sub-steps" role="tablist" id="listingSubMenu" >
				<li class="{{ if $.Params.active }} active {{ end }}">
					<a href="{{ $.Params.allproperty.url }}" class="" id="">All</a>
				</li>
				<li>
					<a href="#" class="" id="">My Properties</a>
				</li>
				<li>
					<a href="#" class="" id="">Unclaimed Properties </a>
				</li>
				<li>
					<a href="#" class="" id="">Under Review Properties </a>
				</li>
				<li class="{{ if $.Params.create }} active {{ end }}">
					<a href="{{ $.Params.createproperty.url }}" class="" id="">Create New </a>
				</li>
			</ul>
		</li>
		<li class="active">
			<a href=" # " class=" form-toggle " id=""><i class="fa fa-cog"></i> Configurations </a>
			<ul class="gs-steps collapse in edit-mode sub-steps" role="tablist" id="" >
				<li class="">
					<a href="" class="" id="">Regions</a>
				</li>
				<li>
					<a href="#" class="" id="">Location Tags</a>
				</li>
			</ul>
		</li>
		<li class="">
			<a href="#" class=" form-toggle " id=""><i class="fa fa-user"></i> Users</a>
		</li>
	</ul>

	<!-- {{ partial "menu.html" .}} -->
</div>