<div class="dsk-separator edit-summary-card">
	<div class="summary-info">
		<div class="rating">
				<div class="bg"></div>
				<div class="value" style="width: 50%;"></div>
		</div>
			<h5>The Upper Deck Resort</h5>
			<div class="listing-status">
					<div class="label">Listing Status</div>
					<div class="flex-row space-between status-msg">
							<div class="statusMsg">Draft
								<!-- <i class="fa fa-info-circle text-color m-l-5 draft-status" data-toggle="tooltip" data-placement="top" title="" data-original-title="Job will remain in draft status till submitted for review."></i> -->
							</div>
							<a href="#" class="review-submit-link"><i class="fa fa-pencil"></i></a>
					</div>
			</div>
	</div>
</div>

<div class="dsk-separator mobile-hide">

	<ul class="gs-steps" role="tablist">
			<li class="">
					<a href=" # " class=" form-toggle " id=""><i class="fa fa-bars"></i> Dashboard </a>
			</li>
		 <li class="">
					<a href="#" class=" form-toggle " id=""><i class="fa fa-calendar-check-o"></i> Booking</a>
			</li>
			<li class="">
					<a href="#" class=" form-toggle " id=""><i class="fa fa-comments-o"></i> Review </a>
			</li>
			<li class="active">
					<a href="#listingSubMenu" class=" form-toggle " id="" role="button" data-toggle="collapse"><i class="fa fa-list"></i> Your Listing </a>
			</li>
	</ul>

	<ul class="gs-steps collapse in edit-mode sub-steps" role="tablist" id="listingSubMenu" >
			<li class="active">
					<a href="/goomo_html/listing/summary/" class="" id="">Summary</a>
			</li>
		 	<li class="">
					<a href="#detailsSubMenu" class="" id="" role="button" data-toggle="collapse">Property Details </a>
					<ul class="sub-menu collapse in" id="detailsSubMenu">
						<li>
							<a href="/goomo_html/listing/services/" class="" id="">- Amenities &amp; Services </a>
						</li>
						<li>
							<a href="/goomo_html/listing/services/" class="" id="">- Contact &amp; Address </a>
						</li>
						<li>
							<a href="/goomo_html/listing/services/" class="" id="">- Booking Policy </a>
						</li>
					</ul>
			</li>
			<li class="">
					<a href="#" class="" id="">Gallery </a>
			</li>
			<li class="">
					<a href="#" class="" id="">Business Details </a>
			</li>
			<li class="">
					<a href="#" class="" id="">Rates &amp; Availability </a>
			</li>
			<li class="">
					<a href="#" class="" id="">Promotions </a>
			</li>
			<li class="">
					<a href="#" class="" id="">Finance </a>
			</li>
	</ul>
</div>