<div class="">

	<label class="small-label">MAIN</label>
	<ul class="gs-steps menu-top-level" role="tablist">
		<li class="">
			<a href=" # " class=" form-toggle " id=""><i class="fa fa-bars"></i> Dashboard </a>
		</li>
		<li class="active">
			<a href="#listingSubMenu" class=" form-toggle " id="" role="button" data-toggle="collapse"><i class="fa fa-list"></i> Listings</a>
			<ul class="gs-steps collapse in edit-mode sub-steps" role="tablist" id="listingSubMenu" >
				<li class="">
					<a href="#" class="" id="">All</a>
				</li>
				<li>
					<a href="#" class="" id="">My Property</a>
				</li>
				<li>
					<a href="#" class="" id="">Unclaimed Property </a>
				</li>
				<li>
					<a href="#" class="" id="">Under Review Property </a>
				</li>
				<li class="active">
					<a href="#" class="" id="">Create New </a>
				</li>
			</ul>
		</li>
		<li class="">
			<a href=" # " class=" form-toggle " id=""><i class="fa fa-cog"></i> Configurations </a>
		</li>
		<li class="">
			<a href="#" class=" form-toggle " id=""><i class="fa fa-user"></i> Users</a>
		</li>
	</ul>

	<!-- {{ partial "menu.html" .}} -->
</div>