{{ define "main" }}
	<div class="">

		<div class="flex-row desk-hide">
			<div class="back-btn">
				<a href="/goomo_html/checklist/{{ $.Params.slug }}">
					<i class="fa fa-chevron-left"></i>
				</a>
			</div>
			<div class="back-title m-l-10 h4 bolder">
				Back to Property Checklist
			</div>
		</div>

		<div class="row">
			<div class="col-sm-9">

			<h5 class="bolder m-t-20 prop-title">Address</h5>

			<div class="row field-gap c-gap">
	            <div class="col-sm-12 form-group m-b-30">
	                <label class="label-size text-info required">Registered Address </label>
	                <input type="text" class="form-control fnb-input" placeholder="eg: Candolim, Goa, India">
	            </div>
	            <div class="col-sm-12 c-gap form-group m-b-30">
	                <label class="label-size text-info required">Property Address </label>
	                <input type="text" class="form-control fnb-input" placeholder="eg: Candolim, Goa, India">
	            </div>

				<div class="col-sm-12 c-gap form-group m-b-30">
				 <!-- map -->
				    <div class="">
				         <label class="label-size text-info required">Please provide the google map address for your property</label>

				        <div class="text-lighter">
				            Note: You can drag the pin on the map to point the address
				        </div>
				    </div>


				    <div class="m-t-20 c-gap">
				    	<input id="mapadd" type="text" class="form-control fnb-input location-val m-b-10" name="interview_location" placeholder="Ex: Shop no 4, Aarey Milk Colony, Mumbai" value="">

	                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15380.091383021922!2d73.81245283848914!3d15.483203277923609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbfc0a93361ccd9%3A0xdd98120b24e5be61!2sPanjim%2C+Goa!5e0!3m2!1sen!2sin!4v1498804405360" width="600" height="400" frameborder="0" style="border:0;width:100%;" allowfullscreen></iframe>

				    </div>

				</div>

				<div class="col-sm-6 form-group m-b-30">
	                <label class="label-size text-info">Latitude </label>
	                <input type="text" class="form-control fnb-input" placeholder="19.0990962367374">
	            </div>
	            <div class="col-sm-6 c-gap form-group m-b-30">
	                <label class="label-size text-info">Longitude </label>
	                <input type="text" class="form-control fnb-input" placeholder="19.0990962367374">
	            </div>

	        </div>


			<h5 class="bolder m-t-35 prop-title">Contact</h5>

	        <div class="m-t-40 business-phone business-contact contact-info contact-info-phone" contact-type="mobile">
	                <div class="flex-row space-between mobile-sp-row">
	                    <label class="label-size text-info required">Hotel Email</label>
	                    <a href="#" class="dark-link text-medium add-another">+ Add another email</a>
	                </div>
	                        <div class="contact-row m-t-5  contact-container">
	                    <div class="row phone-row get-val ">
	                        <div class="col-sm-5">
                            	<div class="flex-row">
                            		<input type="email" class="form-control fnb-input p-l-5 contact-input" value="" placeholder="xyz@gmail.com">
                            	</div>
	                        </div>
	                        <div class="col-sm-3 col-xs-4">
	                            <div class="verified flex-row">
	                            </div>
	                        </div>
	                        <div class="col-sm-4 col-xs-8">
	                            <div class="verified-toggle no-m-t flex-row">
	                                <div class="toggle m-l-10 m-r-10">
	                                    <input type="checkbox" class="toggle__check" name="visible_contact" data-parsley-multiple="contacts" data-parsley-errors-container="#toggleError">
	                                    <b class="switch"></b>
	                                    <b class="track"></b>
	                                     <input type="hidden" class="contact-visible" name="visible_mobile_contact[]" value="0">
	                                </div>
	                                <p class="m-b-0 text-color toggle-state">Not visible on the property</p>
	                            </div>
	                            <div id="toggleError"></div>
	                        </div>
	                    </div>
	                </div>

	                <div class="contact-row m-t-5 contact-container contact-group hidden">
	                    <div class="row no-m-b get-val phone-row ">
	                        <div class="col-sm-5">
    	                    	<div class="flex-row">
    	                    		<input type="email" class="form-control fnb-input p-l-5 contact-input" value="" placeholder="xyz@gmail.com">
    	                    	</div>
	                        </div>
	                        <div class="col-sm-3 col-xs-4">
	                            <div class="verified flex-row">
	                            </div>
	                        </div>
	                        <div class="col-sm-4 col-xs-8">
	                            <div class="flex-row close-section">
	                                <div class="verified-toggle flex-row">
	                                    <div class="toggle m-l-10 m-r-10">
	                                        <input type="checkbox" class="toggle__check" name="visible_contact" data-parsley-multiple="contacts" data-parsley-errors-container="#toggleError">
	                                        <b class="switch"></b>
	                                        <b class="track"></b>
	                                        <input type="hidden" class="contact-visible" name="visible_mobile_contact[]" value="0">
	                                    </div>
	                                    <p class="m-b-0 text-color toggle-state">Not visible on the property</p>
	                                </div>
	                                <i class="fa fa-times removeRow"></i>
	                            </div>
	                            <div id="toggleError"></div>
	                        </div>
	                    </div>
	                </div>

	        </div>

	        <div class="m-t-40 business-phone business-contact contact-info contact-info-phone" contact-type="mobile">
	                <div class="flex-row space-between mobile-sp-row">
	                    <label class="label-size text-info required">Hotel Mobile</label>
	                    <a href="#" class="dark-link text-medium add-another">+ Add another mobile</a>
	                </div>
	                        <div class="contact-row m-t-5  contact-container">
	                    <div class="row phone-row get-val ">
	                        <div class="col-sm-5">
                            	<div class="flex-row">
                            		<select class="fnb-select select-variant form-control text-lighter small-select" name="">
        		                    	<option value="">+91</option>
        		                    	<option>+1245</option>
        		                    	<option>+97</option>
        			                </select>
                            		<input type="tel" class="form-control fnb-input p-l-5 contact-input" style="" placeholder="9798999987" >
                            	</div>
	                        </div>
	                        <div class="col-sm-3 col-xs-4">
	                            <div class="verified flex-row">
	                            </div>
	                        </div>
	                        <div class="col-sm-4 col-xs-8">
	                            <div class="verified-toggle no-m-t flex-row">
	                                <div class="toggle m-l-10 m-r-10">
	                                    <input type="checkbox" class="toggle__check" name="visible_contact" data-parsley-multiple="contacts" data-parsley-errors-container="#toggleError">
	                                    <b class="switch"></b>
	                                    <b class="track"></b>
	                                     <input type="hidden" class="contact-visible" name="visible_mobile_contact[]" value="0">
	                                </div>
	                                <p class="m-b-0 text-color toggle-state">Not visible on the property</p>
	                            </div>
	                            <div id="toggleError"></div>
	                        </div>
	                    </div>
	                </div>

	                <div class="contact-row m-t-5 contact-container contact-group hidden">
	                    <div class="row no-m-b get-val phone-row ">
	                        <div class="col-sm-5">
    	                    	<div class="flex-row">
    	                    		<select class="fnb-select select-variant form-control text-lighter small-select" name="">
    			                    	<option value="">+91</option>
    			                    	<option>+1245</option>
    			                    	<option>+97</option>
    				                </select>
    	                    		<input type="tel" class="form-control fnb-input p-l-5 contact-input" placeholder="9798999987" >
    	                    	</div>
	                        </div>
	                        <div class="col-sm-3 col-xs-4">
	                            <div class="verified flex-row">
	                            </div>
	                        </div>
	                        <div class="col-sm-4 col-xs-8">
	                            <div class="flex-row close-section">
	                                <div class="verified-toggle flex-row">
	                                    <div class="toggle m-l-10 m-r-10">
	                                        <input type="checkbox" class="toggle__check" name="visible_contact" data-parsley-multiple="contacts" data-parsley-errors-container="#toggleError">
	                                        <b class="switch"></b>
	                                        <b class="track"></b>
	                                        <input type="hidden" class="contact-visible" name="visible_mobile_contact[]" value="0">
	                                    </div>
	                                    <p class="m-b-0 text-color toggle-state">Not visible on the property</p>
	                                </div>
	                                <i class="fa fa-times removeRow"></i>
	                            </div>
	                            <div id="toggleError"></div>
	                        </div>
	                    </div>
	                </div>

	        </div>

	        <div class="m-t-40 business-phone business-contact contact-info contact-info-phone" contact-type="mobile">
	                <div class="flex-row space-between mobile-sp-row">
	                    <label class="label-size text-info required">Hotel Phone</label>
	                    <a href="#" class="dark-link text-medium add-another">+ Add another phone</a>
	                </div>
	                        <div class="contact-row m-t-5  contact-container">
	                    <div class="row phone-row get-val ">
	                        <div class="col-sm-5">
                            	<div class="flex-row">
                            		<input type="tel" class="form-control fnb-input p-l-5 contact-input" style="" placeholder="0234 8794568" >
                            	</div>
	                        </div>
	                        <div class="col-sm-3 col-xs-4">
	                            <div class="verified flex-row">
	                            </div>
	                        </div>
	                        <div class="col-sm-4 col-xs-8">
	                            <div class="verified-toggle no-m-t flex-row">
	                                <div class="toggle m-l-10 m-r-10">
	                                    <input type="checkbox" class="toggle__check" name="visible_contact" data-parsley-multiple="contacts" data-parsley-errors-container="#toggleError">
	                                    <b class="switch"></b>
	                                    <b class="track"></b>
	                                     <input type="hidden" class="contact-visible" name="visible_mobile_contact[]" value="0">
	                                </div>
	                                <p class="m-b-0 text-color toggle-state">Not visible on the property</p>
	                            </div>
	                            <div id="toggleError"></div>
	                        </div>
	                    </div>
	                </div>

	                <div class="contact-row m-t-5 contact-container contact-group hidden">
	                    <div class="row no-m-b get-val phone-row ">
	                        <div class="col-sm-5">
    	                    	<div class="flex-row">
    	                    		<input type="tel" class="form-control fnb-input p-l-5 contact-input" placeholder="0234 8794568" >
    	                    	</div>
	                        </div>
	                        <div class="col-sm-3 col-xs-4">
	                            <div class="verified flex-row">
	                            </div>
	                        </div>
	                        <div class="col-sm-4 col-xs-8">
	                            <div class="flex-row close-section">
	                                <div class="verified-toggle flex-row">
	                                    <div class="toggle m-l-10 m-r-10">
	                                        <input type="checkbox" class="toggle__check" name="visible_contact" data-parsley-multiple="contacts" data-parsley-errors-container="#toggleError">
	                                        <b class="switch"></b>
	                                        <b class="track"></b>
	                                        <input type="hidden" class="contact-visible" name="visible_mobile_contact[]" value="0">
	                                    </div>
	                                    <p class="m-b-0 text-color toggle-state">Not visible on the property</p>
	                                </div>
	                                <i class="fa fa-times removeRow"></i>
	                            </div>
	                            <div id="toggleError"></div>
	                        </div>
	                    </div>
	                </div>

	        </div>


			<div class="row m-t-40">
				<div class="col-sm-6 form-group m-b-30">
	            	<label class="label-size text-info">Website </label>
	            	<input type="text" class="form-control fnb-input" placeholder="eg: www.xyz.com">
		           </div>
			</div>


			<h5 class="bolder m-t-35 prop-title">What's Nearby</h5>


			<div class="flex-list field-gap c-gap nearby">
				<input type="Email" class="form-control fnb-input flexdatalist" multiple="multiple" list="chain-name" value="Cafe Coffe Day" placeholder="Type for suggestions & hit enter">
				<datalist id="chain-name">
	            	<option value="booking">Cafe Coffe Day</option>
	            	<option value="booking">Hospital</option>
	            	<option value="booking">ATM</option>
	        	</datalist>
	        </div>

	        <button type="submit" class="btn secondary-btn fnb-btn bolder mini m-t-40">Save</button>



			</div>
			<div class="col-sm-3 right-sidebar">
				<div class="logs-block">
					<div class="flex-row space-between">
						<h6 class="bolder">Audit Logs</h6>
						<a href="/goomo_html/details/audit/{{ $.Params.slug }}" class="bolder text-secondary">View All</a>
					</div>
					<div class="single-log">
						<div class="flex-row space-between align-top">
							<div class="bolder">
								John Doe <small>(Owner)</small>
							</div>
							<span class="text-muted small">2 days ago</span>
						</div>
						<p class="small">
							Updated inventory for Premium Room from 19-Oct-17 to 31-Oct-17
						</p>
					</div>
					<div class="single-log">
						<div class="flex-row space-between align-top">
							<div class="bolder">
								Vikas Khanna <small>(Market Manager)</small>
							</div>
							<span class="text-muted small text-right" style="min-width: 60px">3 days ago</span>
						</div>
						<p class="small">
							Updated Food &amp; Beverages and Fitness Spa
						</p>
					</div>
					<div class="single-log">
						<div class="flex-row space-between align-top">
							<div class="bolder">
								Vikas Khanna <small>(Market Manager)</small>
							</div>
							<span class="text-muted small text-right" style="min-width: 60px">4 days ago</span>
						</div>
						<p class="small">
							Updated Property Highlights
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


{{ end }}
