{{ define "main" }}
	<div class="">

		<div class="flex-row desk-hide">
			<div class="back-btn">
				<a href="/goomo_html/checklist/{{ $.Params.slug }}">
					<i class="fa fa-chevron-left"></i>
				</a>
			</div>
			<div class="back-title m-l-10 h4 bolder">
				Back to Property Checklist
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<p class="text-info bolder">From date:</p>
				<input type="text" class="from-date form-control fnb-input m-r-10 sub-dates" placeholder="From Date">
			</div>
			<div class="col-sm-2">
				<p class="text-info bolder">To date:</p>
				<input type="text" class="to-date form-control fnb-input m-r-10 sub-dates" placeholder="To Date">
			</div>
			<div class="col-sm-2">
				<button class="btn fnb-btn outline m-t-30">Set Period</button>
			</div>
			<div class="col-sm-6">
				<div class="pull-right">
					Showing 15 days result
					<button class="btn fnb-btn outline m-r-5 m-l-5"><</button>
					<button class="btn fnb-btn outline m-r-5 m-l-5">></button>
				</div>
			</div>
		</div>

		<hr>

		<div class="flex-row space-between flex-wrap">
			<div class="flex-row">
				<div class="m-r-30">
					<div class="text-info">Occupancy:</div>
					<select class="form-control fnb-select border-bottom">
						<option>Single</option>
						<option selected="">Double</option>
						<option>Triple</option>
						<option>Extra Adult</option>
						<option>Extra Child</option>
					</select>
				</div>

				<div>
					<div class="text-info">Channel:</div>
					<select class="form-control fnb-select border-bottom">
						<option>Mobile</option>
						<option selected="">Web</option>
						<option>B2B</option>
					</select>
				</div>
			</div>

			<div class="flex-row">
				<div class="calender-legend">
					<div class="flex-row small">
						<div class="m-r-20">
							<i class="fa fa-circle text-success"></i> Available
						</div>
						<div class="m-r-20">
							<i class="fa fa-circle text-warning"></i> Low Alert/Sold
						</div>
						<div class="m-r-20">
							<i class="fa fa-circle text-muted"></i> Block
						</div>
						<div class="m-r-20">
							<i class="fa fa-circle text-danger"></i> Restriction
						</div>
					</div>
				</div>
				<a href="/goomo_html/rates-availability/rates/{{ $.Params.slug }}" class="btn fnb-btn secondary-btn">Manage Rates</a>
			</div>
		</div>

		<div class="tooltip_templates">
		    <span id="tooltip_content">
		    	<div class="flex-row space-between m-b-10 m-t-5">
			    	<div>
			    		Rate Type: Sell Rate
			    	</div>
			    	<a href="#" class="text-secondary"><i class="fa fa-pencil"></i> Edit</a>
		    	</div>
		        <img src="{{"img/rate_table.png" | absURL}}">
		    </span>

		    <span id="inventory_content">
		        <img src="{{"img/inventory_table.png" | absURL}}">
		    	<div class="text-center m-t-5">
			    	<a href="#" class="text-secondary"><i class="fa fa-pencil"></i> Edit</a>
		    	</div>
		    </span>
		</div>

		<div class="alert alert-warning m-t-50 m-b-50">
			<h6><i class="fa fa-exclamation-triangle m-r-10"></i> There are no existing rooms or rate plans. Please create them first to view data here.</h6>
		</div>

		<p class="small m-t-50">
			Please note that Goomo.com is a technology platform provider and only facilitates transactions between hotels who list their inventory and customers desirous of making a hotel booking. Goomo charges commission from hotels on their inventory sold via www.goomo.com, and is not responsible for actual provision of hotel services to the customers.
		</p>

	</div>

	<script type="text/javascript">
		var existingComments = [
		  {
		    "sectionId": "1",
		    "comments": [
		      {
		        "comment": "<ul><li>Calendar view to display the inventory and the rates</li><li>Available rooms will be displayed on green</li><li>In case of low inventory there will be a yellow alert</li><li>Rooms can be blocked on unblocked </li><li>Restriction(red dot) indicates if there is some Minimum Length of Stay(MLOS) or Cut Off Period restriction applied to the room</li><li>The inventory or rates can be edited by hovering on the cell and clicked edit in the tooltip</li><li>The tool tip on inventory shows the number of rooms sold, MLOS and cutoff period details</li><li>The tooltip for rates shows the Sell Rates for all combinations of channel and occupancy if set.</li><li>Manage Rates action will take the user to bulk update the rates</li></ul>"
		      }
		    ]
		  }
		];


	</script>
{{ end }}
