{{ define "main" }}
	<div class="">

		<div class="flex-row desk-hide">
			<div class="back-btn">
				<a href="/goomo_html/checklist/{{ $.Params.slug }}">
					<i class="fa fa-chevron-left"></i>
				</a>
			</div>
			<div class="back-title m-l-10 h4 bolder">
				Back to Property Checklist
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h4>Link Rates</h4>
				<span>Feature that will simplify setting of rates across various channels. Set the rates manually for only one channel and the rest will be automatically calculated based on the percentage set</span>
			</div>

			<!-- <div class="col-sm-12 m-t-20">
				<label class="label-size text-info">Select the channel you want to manually configure rates for</label>
                 	<ul class="list-inline m-t-20">
					<li>
						<div class="form-check form-check-inline">
						  <label class="form-check-label">
						    <input class="form-check-input active" type="radio" name="inlineRadioOptions" id="active" value="option5" checked="checked">  Web
						  </label>
						</div>
					</li>
					<li>
						<div class="form-check form-check-inline">
						  <label class="form-check-label">
						    <input class="form-check-input active" type="radio" name="inlineRadioOptions" id="active" value="option5" checked="checked">  Mobile
						  </label>
						</div>
					</li>
					<li>
						<div class="form-check form-check-inline">
						  <label class="form-check-label">
						    <input class="form-check-input active" type="radio" name="inlineRadioOptions" id="active" value="option5" checked="checked">  FPH
						  </label>
						</div>
					</li>
					<li>
						<div class="form-check form-check-inline">
						  <label class="form-check-label">
						    <input class="form-check-input active" type="radio" name="inlineRadioOptions" id="active" value="option5" checked="checked">  B2B
						  </label>
						</div>
					</li>


			</ul>
			</div> -->
		</div>
		<div class="row m-t-20">
			<div class="col-sm-12 m-b-20">
				<h6 class="">Set the linked percentage for each channel so that the amount can be calculated on the basis of <span class="text-secondary bolder">web rates</span>.</h6>
			</div>
			<div class="col-sm-3">
			  	<label class="label-size text-info">Mobile</label>
              	<div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="10">
                    <div class="input-group-addon">%</div>
              	</div>
			</div>
			<div class="col-sm-3">
			  	<label class="label-size text-info">FPH</label>
              	<div class="input-group mb-2 mr-sm-2 mb-sm-0">
                	<input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="10">
                  	<div class="input-group-addon">%</div>
             	</div>
			</div>
			<div class="col-sm-3">
			  	<label class="label-size text-info">B2B</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">

                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="10">
                    <div class="input-group-addon">%</div>
                </div>
			</div>
			<div class="col-sm-12 m-t-30">
				<button class="btn fnb-btn secondary-btn btn-lg " >Save</button>
			</div>
		</div>
		<br>

	</div>

	<script type="text/javascript">
		var existingComments = [
		  {
		    "sectionId": "1",
		    "comments": [
		      {
		        "comment": "<ul><li>Configuration for the rates to be automatically calculated for other channels (Mobile, FPH, B2B) on the basis of the channel whose rates for Single, Double, Triple and Extras are manually configured.</li><li>A percentage value will be set for each of these fields</li></ul>"
		      }
		    ]
		  }
		];
	</script>
{{ end }}
