{{ define "main" }}
	<div class="">

		<div class="flex-row desk-hide">
			<div class="back-btn">
				<a href="/goomo_html/checklist/{{ $.Params.slug }}">
					<i class="fa fa-chevron-left"></i>
				</a>
			</div>
			<div class="back-title m-l-10 h4 bolder">
				Back to Property Checklist
			</div>
		</div>

		{{ if $.Params.qcstatus.forqcreview }}
			<div class="flex-row property-status-box editing-status m-t-20 m-b-20">
				<div class="status-info flex-row">
					<div>
						Please review the details below and suggest edits or approve as required.
					</div>
				</div>
				<div class="check-status">
					Checklist Status:<br>
					<img src="{{"img/green-check-circle.png" | absURL}}" class="img-responsive m-t-15 center-block" width="">
				</div>
				<div class="qc-status">
					QC Status:<br>
					<h6 class="text-secondary">Pending Review</h6>
					<div class="flex-row justify-center">
						<button class="btn btn-white s-outline outline fnb-btn small open-sidebar form-toggle ">Suggest Edits</button>
						<button class="btn btn-white secondary-btn outline fnb-btn small" data-toggle="modal" data-target="#approveModal" >Approve</button>
					</div>
				</div>
			</div>
		{{ else if $.Params.qcstatus.new }}
			<div class="flex-row property-status-box m-b-30">
				<div class="status-info flex-row">
					Please add Contract and Finance details. To make it easy for you, we have different sections for different information.
				</div>
				<div class="check-status">
					Checklist Status:<br>
					<i class="fa fa-circle w-border m-t-15"></i>
				</div>
				<div class="qc-status">
					QC Status:
					<h6 class="text-secondary">Info Needed</h6>
				</div>
			</div>
		{{ else if $.Params.qcstatus.publishededit }}
			<div class="flex-row property-status-box default-status disabled">
				<div class="status-info flex-row">
					All done! Your property is now Approved.
				</div>
				<div class="check-status">
					<div class="status-label">Checklist Status:<br></div>
					<img src="{{"img/green-check-circle.png" | absURL}}" class="img-responsive m-t-15 center-block" width="">
				</div>
				<div class="qc-status">
					<div class="status-label">QC Status:<br></div>
					<h6 class="text-primary">Approved</h6>
				</div>
			</div>

			<div class="flex-row property-status-box editing-status m-t-20 m-b-20">
				<div class="status-info flex-row">
					<div>
						When you are done making edits to the images below, please submit for review. When our QC team approves, these changes will be seen on your property page on Goomo.com <img src="{{"img/finger.png" | absURL}}" class="" width="">
					</div>
				</div>
				<div class="check-status">
					Checklist Status:<br>
					<img src="{{"img/green-check-circle.png" | absURL}}" class="img-responsive m-t-15 center-block" width="">
				</div>
				<div class="qc-status">
					QC Status:<br>
					<p class="bat-color m-t-10">New Edits</p>
					<button class="btn btn-white outline fnb-btn m-t-0">Submit for Review</button>
				</div>
			</div>
		{{ else if $.Params.qcstatus.publishedreview }}
			<div class="flex-row property-status-box default-status disabled">
				<div class="status-info flex-row">
					All done! The Images section is approved.
				</div>
				<div class="check-status">
					<div class="status-label">Checklist Status:<br></div>
					<img src="{{"img/green-check-circle.png" | absURL}}" class="img-responsive m-t-15 center-block" width="">
				</div>
				<div class="qc-status">
					<div class="status-label">QC Status:<br></div>
					<h6 class="text-primary">Approved</h6>
				</div>
			</div>

			<div class="flex-row property-status-box editing-status m-t-20 m-b-20">
				<div class="status-info flex-row">
					<div>
						You have submitted your edits for QC Review. You will be able to make changes to this section only after the QC Review.
					</div>
				</div>
				<div class="check-status">
					Checklist Status:<br>
					<img src="{{"img/green-check-circle.png" | absURL}}" class="img-responsive m-t-15 center-block" width="">
				</div>
				<div class="qc-status">
					QC Status:<br>
					<h6 class="text-secondary">Edits Pending Review</h6>
					<div class="flex-row justify-center">
						<button class="btn btn-white s-outline outline fnb-btn small open-sidebar form-toggle ">Suggest Edits</button>
						<button class="btn btn-white secondary-btn outline fnb-btn small" data-toggle="modal" data-target="#approveModal" >Approve</button>
					</div>
				</div>
			</div>
		{{ else if $.Params.qcstatus.published }}
			<div class="flex-row property-status-box default-status">
				<div class="status-info flex-row">
					All done! The Images section is approved.
				</div>
				<div class="check-status">
					<div class="status-label">Checklist Status:<br></div>
					<img src="{{"img/green-check-circle.png" | absURL}}" class="img-responsive m-t-15 center-block" width="">
				</div>
				<div class="qc-status">
					<div class="status-label">QC Status:<br></div>
					<h6 class="text-primary">Approved</h6>
				</div>
			</div>

			<div class="flex-row property-status-box editing-status m-t-20 m-b-20 hidden">
				<div class="status-info flex-row">
					<div>
						When you are done making edits to the images below, please submit for review. When our QC team approves, these changes will be seen on your property page on Goomo.com <img src="{{"img/finger.png" | absURL}}" class="" width="">
					</div>
				</div>
				<div class="check-status">
					Checklist Status:<br>
					<img src="{{"img/green-check-circle.png" | absURL}}" class="img-responsive m-t-15 center-block" width="">
				</div>
				<div class="qc-status">
					QC Status:<br>
					<button class="btn btn-white outline fnb-btn m-t-15">Submit for Review</button>
				</div>
			</div>

			<div class="row m-t-20 m-b-20 edit-action-box">
				<div class="col-sm-9">
					<h6 class="bolder">The details below are QC approved. If you make edits to the images, do remember to submit for review again.</h6>
				</div>
				<div class="col-sm-3">
					<button class="btn fnb-btn secondary-btn pull-right bolder make-edits-btn">Make Edits</button>
				</div>
			</div>
		{{ else if $.Params.qcstatus.editsreview }}
			<div class="flex-row property-status-box">
				<div class="status-info flex-row">
					Your Market Manager has reviewed your information and suggested some edits. Please check these and submit for approval again.
				</div>
				<div class="check-status">
					Checklist Status:<br>
					<img src="{{"img/green-check-circle.png" | absURL}}" class="img-responsive m-t-15 center-block" width="">
				</div>
				<div class="qc-status">
					QC Status:<br>
	                <h6 class="text-secondary">Pending Review</h6>
	                <p class="bat-color">Edits Suggested</p>
	                <button class="btn btn-white s-outline outline fnb-btn small form-toggle  open-sidebar m-b-5 ">Reply</button>
					<button class="btn btn-white  outline fnb-btn small m-b-5">Submit for Approval</button>
				</div>
			</div>
		{{ else }}
			<div class="flex-row property-status-box m-b-30">
				<div class="status-info flex-row">
					Please add Contract and Finance details. To make it easy for you, we have different sections for different information.
				</div>
				<div class="check-status">
					Checklist Status:<br>
					<i class="fa fa-circle w-border m-t-15"></i>
				</div>
				<div class="qc-status">
					QC Status:
					<h6 class="text-secondary">Info Needed</h6>
				</div>
			</div>
		{{ end }}


		<div class="row">
			<div class="col-sm-12">

				<div class="finance-col financeCols m-t-40">
					<h5 class="no-m-t fly-out-heading-size bat-color bolder m-b-20">Finance Inputs</h5>
					<div class="row finance-inputs">
						<div class="col-sm-3 target-col">
							<label class="label-size m-b-0"><h6 class="dis-inline m-b-0">[INR]</h6> Indian Rupee</label>
		                	<input type="text" class="form-control fnb-input" readonly="" placeholder="Currency">
						</div>
						<div class="col-sm-3 target-col">
							<label class="label-size m-b-0"><h6 class="dis-inline m-b-0">30</h6> %</label>
		                	<input type="text" class="form-control fnb-input" readonly="" placeholder="Commission">
						</div>
						<div class="col-sm-6">
							<!-- <div class="vendor-code">
								<p class="sub-title text-secondary">ABCD 204550600000</p>
								<h6 class="text-medium text-muted m-b-0">NAV vendor code</h6>
							</div> -->
						</div>
					</div>
				</div>

				<div class="bank-details financeCols m-t-40">
					<h5 class="no-m-t fly-out-heading-size bat-color bolder m-b-20">Bank details</h5>
					<table id="listings-table" class="table table-striped dataTable listing-table" cellspacing="0" width="100%">
			        	<thead>
				            <tr>
				            	<th style="min-width: 120px;" class="">Account No</th>
				              	<th style="min-width: 120px;" class="">Holder name</th>
				              	<th style="min-width: 120px;" class="">Bank Name</th>
				              	<th style="min-width: 120px;" class="">IFSC Code</th>
				              	<th style="min-width: 120px;" class="">PAN No</th>
				              	<th style="min-width: 120px;" class="">GSTN</th>
				              	<th style="min-width: 120px;" class="">Cancelled Cheque</th>
				              	<th style="" class="">Status</th>
				              	<th class="text-center">Action</th>
				            </tr>
			          	</thead>
			         	<tbody>
				            <tr>
				              <td class=""><a href="#" class="text-info bolder">F********445</a></td>
				              <td class="">Sujata Patil</td>
				              <td class="">HDFC BANK</td>
				              <td class="">HDFCC129399</td>
				              <td class="">A*****234</td>
				              <td class="">AWCET1234</td>
				              <td class=""><a href="#" class="secondary-link"><i class="fa fa-download" aria-hidden="true"></i> Download</a></td>
				              <td class=""><span class="text-info">Active</span></td>
				              <td class="text-center"><!-- <a href="#" class="secondary-link"><i class="fa fa-pencil text-decor" aria-hidden="true"></i></a> --></td>
				            </tr>
			          	</tbody>
		       		</table>
				</div>

				<div class="tax-rules financeCols m-t-40">
					<div class="flex-row space-between">
						<h5 class="no-m-t fly-out-heading-size bat-color bolder m-b-20">Tax Rules</h5>
						<!-- <button class="btn fnb-btn s-outline bold-btn full m-t-10" disabled=""><span>Add Tax Rule</span></button> -->
					</div>

					<table id="tax-table" class="table table-striped dataTable listing-table" cellspacing="0" width="100%">
			        	<thead>
				            <tr>
				            	<th style="min-width: 120px;" class="">Start Date</th>
				              	<th style="min-width: 120px;" class="">End Date</th>
				              	<th style="min-width: 120px;" class="">Related To</th>
				              	<th style="min-width: 150px;" class="">Room(Rateplan)</th>
				              	<th style="min-width: 250px;" class="">Rules</th>
				              	<!-- <th style="min-width: 120px;" class="text-center">Action</th> -->
				            </tr>
			          	</thead>
			         	<tbody>
				            <tr>
				              <td class=""><span class="text-color bolder">30 May 2017</span></td>
				              <td class=""><span class="text-color bolder">31 May 2017</span></td>
				              <td class=""><span class="text-color bolder">Hotel</span></td>
				              <td class="">--</td>
				              <td class=""><span class="text-color bolder">Other Tax on Rack Rat</span><br> Type: Percentage | Value: 10.0</td>
				              <!-- <td class="text-center"><a href="#" class="secondary-link"><i class="fa fa-pencil text-decor" aria-hidden="true"></i></a></td> -->
				            </tr>
			          	</tbody>
		       		</table>

   		       		<div class="well">
   			       		<h6 class="bolder ">GST Info</h6>
   			       		<table class="table table-condensed">
			       			<thead>
				       			<tr>
				       				<th class="text-center">Min. Sell Rate ( <i class="fa fa-inr"></i> )</th>
				       				<th class="text-center">Max. Sell Rate ( <i class="fa fa-inr"></i> )</th>
				       				<th class="text-center">GST</th>
				       				<th class="text-left">Info</th>
				       			</tr>
			       			</thead>
			       			<tbody>
				       			<tr class="text-center">
				       				<td style="border-top: 1px solid #ddd;">0</td>
				       				<td style="border-top: 1px solid #ddd;">1000</td>
				       				<td style="border-top: 1px solid #ddd;">0</td>
				       				<td class="text-left" style="border-top: 1px solid #ddd;">If the sell rate(INR) is greater than or equal to 0 and less than or equal to 1000, GST is 0%</td>
				       			</tr>
				       			<tr class="text-center">
				       				<td style="border-top: 1px solid #ddd;">1001</td>
				       				<td style="border-top: 1px solid #ddd;">2500</td>
				       				<td style="border-top: 1px solid #ddd;">12%</td>
				       				<td class="text-left" style="border-top: 1px solid #ddd;">If the sell rate(INR) is greater than or equal to 1001 and less than or equal to 2500, GST is 12%</td>
				       			</tr>
				       			<tr class="text-center">
				       				<td style="border-top: 1px solid #ddd;">2501</td>
				       				<td style="border-top: 1px solid #ddd;">7500</td>
				       				<td style="border-top: 1px solid #ddd;">18%</td>
				       				<td class="text-left" style="border-top: 1px solid #ddd;">If the sell rate(INR) is greater than or equal to 2501 and less than or equal to 7500, GST is 18%</td>
				       			</tr>
				       			<tr class="text-center">
				       				<td style="border-top: 1px solid #ddd;">7501</td>
				       				<td style="border-top: 1px solid #ddd;">-</td>
				       				<td style="border-top: 1px solid #ddd;">28%</td>
				       				<td class="text-left" style="border-top: 1px solid #ddd;">If the sell rate(INR) is greater than or equal to 7501, GST is 28%</td>
				       			</tr>
			       			</tbody>
			       		</table>
   		       		</div>
				</div>

				<div class="contract-col financeCols m-t-40">
					<h5 class="no-m-t fly-out-heading-size bat-color bolder m-b-20">Contract</h5>

					<label class="sub-title text-info m-t-20 m-b-10">Terms &amp; Conditions </label>
					<!-- <a href="#" class="secondary-link"><i class="fa fa-pencil text-decor" aria-hidden="true"></i></a> -->
		            <p class="text-lighter captionStyle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit inventore ut autem et nostrum eius quae aspernatur doloremque nesciunt officia? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit inventore ut autem et nostrum eius quae aspernatur doloremque nesciunt officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit inventore ut autem et nostrum eius quae aspernatur doloremque nesciunt officia?</p>

		            <div class="flex-row space-between">

		            </div>
		            <div class="row m-t-40">
		            	<div class="col-sm-2">
				    	<label class="sub-title text-info  m-b-10 signed-label ">Signed Contract</label><br>
				            <div class="text-center dis-inline m-b-20">
				            	<img src="{{"img/signed.png" | absURL}}" class="img-responsive">
								<a href="#" class="text-decor secondary-link">View</a>
				            </div>
		            	</div>
		            	<div class="col-sm-10">
		            		<div>

		            		  <!-- Nav tabs -->
		            		  <ul class="nav nav-tabs" role="tablist">
		            		    <li role="presentation"><a href="#uploadContract" aria-controls="home" role="tab" data-toggle="tab">Upload</a></li>
		            		    <li role="presentation" class="active"><a href="#history" aria-controls="profile" role="tab" data-toggle="tab">History</a></li>
		            		  </ul>

		            		  <!-- Tab panes -->
		            		  <div class="tab-content p-t-20">
		            		    <div role="tabpanel" class="tab-pane " id="uploadContract">
		            		    	<button class="btn btn-sm outline fnb-btn ">Upload Contract</button>
		            		    </div>
		            		    <div role="tabpanel" class="tab-pane active" id="history">
		            				<!-- <h6>History</h6> -->
				            		<div class="history-wrap">
				            			<!-- <div class="flex-row m-b-5">
				            				<div class="m-r-40">
				            					Uploaded on 23/07/2017
				            				</div>
				            				<div class="m-r-40" style="width:150px">
				            					<label>updated_terms.pdf</label>
				            				</div>
				            				<div>
				            					<a href="#">Download</a>
				            				</div>
				            			</div> -->
				            			<div class="flex-row flex-wrap">
				            				<div class="m-r-40">
				            					Uploaded on 29/08/2017
				            				</div>
				            				<div class="m-r-40" style="width:150px">
				            					<label>initial_contract.pdf</label>
				            				</div>
				            				<div class="m-r-40">
				            					<a href="#">View</a>
				            				</div>
				            				<div>
				            					<a href="#">Download</a>
				            				</div>
				            			</div>
				            		</div>
		            		    </div>
		            		  </div>

		            		</div>

		            	</div>
		            </div>
				</div>


				<div class="declaration financeCols m-t-40">
					<div class="declaration-row flex-row space-between">
						<p class="m-b-0 sub-title text-info bolder">I hereby declare that the details furnished above are true and correct</p>
						<p class="m-b-0 text-primary bolder"><i class="fa fa-check" aria-hidden="true"></i> Confirmed</p>
					</div>
				</div>

			</div>
		</div>
	</div>



<!-- Approve changes modal -->
{{ partial "approve-modal.html" .}}

	<script type="text/javascript">
		var existingComments = [
		  {
		    "sectionId": "1",
		    "comments": [
		      {
		        "comment": "<p>The view for this page will be different  for Goomo Team and Property Owner</p>"
		      },
		      {
		        "comment": "<p>Goomo Team View:</p> Finance Inputs<br>  <ul><li>Can view and edit Currency, Commission and NAV Vendor Code</li></ul> Bank Details<br> <ul><li>Can view and edit Bank Details</li></ul> Tax Rules<br> <ul><li>Can only view tax rules as it is at platform level</li><li>Tax rules can be created by Goomo team from the backend</li></ul> Contract<br><ul><li>Can view, generate and upload contract</li></ul>"
		      },
		      {
		        "comment": "<p>Property Owner View:</p> Finance Inputs<br>  <ul><li>Can only view Currency, Commission</li></ul> Bank Details<br> <ul><li>Can view and edit Bank Details</li></ul> Tax Rules<br> <ul><li>Can only view tax rules as it is at platform level</li></ul> Contract<br><ul><li>Can view, generate and upload contract</li></ul>"
		      }
		    ]
		  }
		];
	</script>


{{ end }}
