{{ define "main" }}
<div class="row ">
	<div class="col-sm-9">
		<!-- <div class="row bor1 flex-row">
			<div class="col-sm-8 col-xs-8 ">
				<h6 class=""> Basic Property Details</h6>
				<p class="text-muted">All the basic details that are required to create a property </p>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				<h6 class=" m-t-20">10/10</h6>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				 <img src="{{"img/green-check.png" | absURL}}" class="img-responsive  " width="">
			</div>
		</div> -->
		<div class="row bor1 flex-row align-top p-b-15">
			<div class="col-sm-8 col-xs-8 ">
				<h6 class="m-b-20 m-t-20"> Address & Contact</h6>
				<p class="text-muted"><span><img src="{{"img/green-check.png" | absURL}}"  width=""></span> Property Address and Contact Details -  <span class="text-darker">5</span>  </p>
				<p class="text-muted p-l-5"><i class="glyphicon glyphicon-remove colorred text-danger  p-r-5"></i> Website -  <span class="text-darker">2</span></p>
				<p class="text-muted p-l-5"><i class="glyphicon glyphicon-remove colorred text-danger  p-r-5"></i> Landmarks - <span class="text-darker">3</span> </p>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				<h6 class=" m-t-20">5/10</h6>
			</div>
			<div class="col-sm-2 col-xs-2">
				<div class="m-t-20"> <a href="/goomo_html/details/address/{{ $.Params.slug }}">Improve</a></div>
			</div>
		</div>
		<div class="row bor1 flex-row align-top p-b-15">
			<div class="col-sm-8 col-xs-8 ">
				<h6 class="m-b-0 m-t-20"> Amenities & Services</h6>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				<h6 class=" m-t-20">10/10</h6>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				 <div class="m-t-20"><img src="{{"img/green-check.png" | absURL}}" class="img-responsive " width=""></div>
			</div>
		</div>
		<div class="row bor1 flex-row align-top p-b-15">
			<div class="col-sm-8 col-xs-8 ">
				<h6 class="m-b-20 m-t-20">Images</h6>
				<p class="text-muted"><span><img src="{{"img/green-check.png" | absURL}}"  width=""></span> Minimum 5 images under each property, rooms - <span class="text-darker">5</span> </p>
				<p class="text-muted"><span><img src="{{"img/green-check.png" | absURL}}"  width=""></span> Additional 5  images for property - <span class="text-darker">10</span></p>
				<p class="text-muted p-l-5"><i class="glyphicon glyphicon-remove colorred text-danger  p-r-5"></i> Additional 5  images for each room - <span class="text-darker">10</span></p>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				<h6 class=" m-t-20">15/20</h6>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				 <div class="m-t-20"><a href="/goomo_html/details/images/{{ $.Params.slug }}">Improve</a></div>
			</div>
		</div>
		<div class="row bor1 flex-row align-top p-b-15">
			<div class="col-sm-8 col-xs-8 ">
				<h6 class="m-b-0 m-t-20">Policies</h6>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				<h6 class=" m-t-20">5/5</h6>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				 <div class="m-t-20"><img src="{{"img/green-check.png" | absURL}}" class="img-responsive " width=""></div>
			</div>
		</div>
		<div class="row bor1 flex-row align-top p-b-15">
			<div class="col-sm-8 col-xs-8 ">
				<h6 class="m-b-20 m-t-20">Room Details </h6>
				<p class="text-muted"><span><img src="{{"img/green-check.png" | absURL}}"  width=""></span> Basic room details for all the rooms - <span class="text-darker">5</span></p>
				<p class="text-muted p-l-5"><i class="glyphicon glyphicon-remove colorred text-danger  p-r-5"></i> Basic + Additional details for all the rooms - <span class="text-darker">10</span></p>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				<h6 class=" m-t-20">5/10</h6>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				 <div class="m-t-20"><a href="/goomo_html/details/rooms/{{ $.Params.slug }}">Improve</a></div>
			</div>
		</div>
		<div class="row bor1 flex-row align-top p-b-15">
			<div class="col-sm-8 col-xs-8 ">
				<h6 class="m-b-20 m-t-20">Inventory Details</h6>
				<p class="text-muted p-l-5"><i class="glyphicon glyphicon-remove colorred text-danger  p-r-5"></i> Inventory for the current month - <span class="text-darker">5</span> </p>
				<p class="text-muted"><span><img src="{{"img/green-check.png" | absURL}}"  width=""></span> Inventory for the current month + next 2 months - <span class="text-darker">15</span></p>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				<h6 class=" m-t-20">15/15</h6>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				<div class="m-t-20"><img src="{{"img/green-check.png" | absURL}}" class="img-responsive " width=""></div>
			</div>
		</div>
		<div class="row bor1 flex-row align-top p-b-15">
			<div class="col-sm-8 col-xs-8 ">
				<h6 class="m-b-20 m-t-20">Rates</h6>
				<p class="text-muted p-l-5"><i class="glyphicon glyphicon-remove colorred text-danger  p-r-5"></i> Rates for the current month - <span class="text-darker">5</span> </p>
				<p class="text-muted"><span><img src="{{"img/green-check.png" | absURL}}"  width=""></span> Rates for the current month + next 2 months - <span class="text-darker">15</span> </p>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				<h6 class=" m-t-20">15/15</h6>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				<div class="m-t-20"><img src="{{"img/green-check.png" | absURL}}" class="img-responsive " width=""></div>
			</div>
		</div>
		<div class="row bor1 flex-row align-top p-b-15">
			<div class="col-sm-8 col-xs-8 ">
				<h6 class="m-b-20 m-t-20">Bank Details</h6>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				<h6 class=" m-t-20">5/5</h6>
			</div>
			<div class="col-sm-2 col-xs-2 ">
				<div class="m-t-20"><img src="{{"img/green-check.png" | absURL}}" class="img-responsive " width=""></div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="content-score-block m-t-20">
			<h6 class="bolder text-center">Your Content Score 80%</h6>
			<div class="progress">
			  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
			    <span class="sr-only">80% Complete</span>
			  </div>
			</div>
			<p class="text-muted bolder text-center">
				Good
			</p>

		</div>
		<div class="m-t-20">
			<div class="contentscoreblock">
				<div>
					<h6 class=" text-center">Benefits of High Content Score</h6>
				</div>
				<div class="text-muted">
					<ul class="disc2">
						<li>Higher Ranking on Goomo</li>
						<li>Better Performance</li>
						<li>Increase in Revenue</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div>

{{ end }}