{{ define "main" }}
	<div class="">

<!-- 		<div class="flex-row desk-hide">
			<div class="back-btn">
				<a href="/goomo_html/checklist/{{ $.Params.slug }}">
					<i class="fa fa-chevron-left"></i>
				</a>
			</div>
			<div class="back-title m-l-10 h4 bolder">
				Back to Property Checklist
			</div>
		</div> -->


		<div class="row">

			<div class="col-sm-9">

				<div class="row bookingRow">
					<div class="col-sm-6 ">
						<h6 class="m-b-0 bolder text-color ">New Bookings</h6>
						<p class="bolder default-size text-lighter m-t-5 m-b-10">Please confirm the below bookings</p>
						<a href="/goomo_html/bookings/booking-details/{{ $.Params.slug }}" class="dark-link no-decor dis-block " target="_blank">
							<div class="content flex-row ">
								<div class="content_data text-color"><b class="bolder text-secondary">24 Dec</b> <span class="text-darker">(03 nights)</span><br>Check-in</div>
				 				<div class="content_data text-color"><b class="bolder text-primary">Deluxe Room</b><br>Room</div>
				 				<div class="content_data text-color"><b class="bolder text-muted">Rs. 5000</b><br>Booking Value</div>
				 			</div>
						</a>
						<a href="/goomo_html/bookings/booking-details/{{ $.Params.slug }}" class="dark-link no-decor dis-block " target="_blank">
							<div class="content flex-row ">
								<div class="content_data text-color"><b class="bolder text-secondary">23 Dec</b> <span class="text-darker">(02 nights)</span><br>Check-in</div>
				 				<div class="content_data text-color"><b class="bolder text-primary">Standard Room</b><br>Room</div>
				 				<div class="content_data text-color"><b class="bolder text-muted">Rs. 3000</b><br>Booking Value</div>
				 			</div>
						</a>
						<a href="/goomo_html/bookings/booking-details/{{ $.Params.slug }}" class="dark-link no-decor dis-block m-b-10" target="_blank">
							<div class="content flex-row ">
								<div class="content_data text-color"><b class="bolder text-secondary">21 Dec</b> <span class="text-darker">(01 night)</span><br>Check-in</div>
				 				<div class="content_data text-color"><b class="bolder text-primary">Standard Room</b><br>Room</div>
				 				<div class="content_data text-color"><b class="bolder text-muted">Rs. 8000</b><br>Booking Value</div>
				 			</div>
						</a>
						<a href="/goomo_html/bookings/all/{{ $.Params.slug }}" class="text-secondary text-decor m-b-15 dis-block text-right p-r-5" target="_blank">View All</a>
					</div>
					<div class="col-sm-6 ">
						<h6 class="m-b-0 bolder text-color ">Upcoming Check-ins</h6>
						<p class="bolder default-size text-lighter m-t-5 m-b-10">Arrivals in the next 3 days</p>
						<a href="/goomo_html/bookings/booking-details/{{ $.Params.slug }}" class="dark-link no-decor dis-block " target="_blank">
							<div class="content flex-row ">
								<div class="content_data text-color"><b class="bolder text-secondary">14 Dec</b> <span class="text-darker">(02 nights)</span><br>Check-in</div>
				 				<div class="content_data text-color"><b class="bolder text-primary">Deluxe Room</b><br>Room</div>
				 				<div class="content_data text-color"><b class="bolder text-muted">Rs. 5000</b><br>Booking Value</div>
				 			</div>
						</a>
						<a href="/goomo_html/bookings/booking-details/{{ $.Params.slug }}" class="dark-link no-decor dis-block " target="_blank">
							<div class="content flex-row ">
								<div class="content_data text-color"><b class="bolder text-secondary">14 Dec</b> <span class="text-darker">(04 nights)</span><br>Check-in</div>
				 				<div class="content_data text-color"><b class="bolder text-primary">Standard Room</b><br>Room</div>
				 				<div class="content_data text-color"><b class="bolder text-muted">Rs. 8000</b><br>Booking Value</div>
				 			</div>
						</a>
						<a href="/goomo_html/bookings/booking-details/{{ $.Params.slug }}" class="dark-link no-decor dis-block m-b-10" target="_blank">
							<div class="content flex-row ">
								<div class="content_data text-color"><b class="bolder text-secondary">15 Dec</b> <span class="text-darker">(02 nights)</span><br>Check-in</div>
				 				<div class="content_data text-color"><b class="bolder text-primary">Standard Room</b><br>Room</div>
				 				<div class="content_data text-color"><b class="bolder text-muted">Rs. 3000</b><br>Booking Value</div>
				 			</div>
						</a>
						<a href="/goomo_html/bookings/all/{{ $.Params.slug }}" class="text-secondary text-decor m-b-15 dis-block text-right p-r-5" target="_blank">View All</a>
					</div>
				</div>

				<h6 class="m-t-50 m-b-20 bolder text-color flex-row">Inventory
					<div class="flex-row m-l-15 xx-small m-t-5">
						<div class="p-l-10 p-r-10"><i class="fa fa-circle text-danger p-r-5" aria-hidden="true"></i>Sold Out</div>
						<div><i class="fa fa-circle less-aval p-r-5" aria-hidden="true"></i>Low Availability</div>
					</div>
				</h6>

				<div class="row m-b-20">
					<div class="col-sm-4 flex-row">
						<p class="default-size p-r-20 bolder text-color m-t-10">Rooms</p>
						<select class="form-control">
							<option>All Rooms</option>
							<option>Deluxe Rooms</option>
							<option>Standard Rooms</option>
						</select>
					</div>
					<div class="col-sm-4">
						<div class="bolder text-color flex-row m-t-10">
							<div class="m-r-10">Available: 60</div> | <div class="m-l-10">Sold Out: 10</div>
						</div>
					</div>
				</div>

				<div style="overflow: auto">
					<!-- <img src="{{"img/dash_calendar.png" | absURL}}" class="img-responsive" style="min-width: 650px;"> -->

					<div class="flex-row flex-wrap desk-no-wrap align-top">
						<a href="/goomo_html/rates-availability/inventory/{{ $.Params.slug }}" target="_blank">
							<img src="{{"img/dash_calendar-only.png" | absURL}}" class="img-responsive" style="" title="Click to update inventory">
						</a>
						<a href="/goomo_html/rates-availability/inventory/{{ $.Params.slug }}" target="_blank">
							<img src="{{"img/dash_calendar-only.png" | absURL}}" class="img-responsive" style="" title="Click to update inventory">
						</a>
					</div>

				</div>

				<h6 class="m-t-50 bolder text-color">How have my bookings been?</h6>
				<div class="row  m-b-50 m-l-10 m-r-10 bookingsbeenbox">
					<div class="col-sm-6 boxshadow5 m-t-20 p-b-15 p-t-15  p-r-40 bookingsbeenitems m-r-20">
						<p class="bolder">Fulfillment Issues:</p>
						<p class="bolder m-b-0">You have</p>
						<h5 class="bolder m-t-0 "><a href="#" class="text-underline text-secondary" target="_blank">10 <small class="text-secondary">dishonoured bookings</small></a></h5>
						<div class="p-b-20">
							as you did not <span class="bolder">Re-confirm</span> the bookings. We do not encourage dishonoured bookings, this will affect your ranking with us.
						</div>
					</div>

					<div class="col-sm-6  boxshadow5 m-t-20 p-b-15 p-t-15 bookingsbeenitems ">
						<img src="{{"img/cash_icon.png" | absURL}}">
						<h5 class="text-primary bolder"><i class="fa fa-inr"></i> 7,01,600</h5>
						<p>Total Revenue through Goomo (Last 15 Days)</p>

						<div class="flex-row">
							<div class="m-r-25">
								<small>Received</small>
								<h6 class="bolder m-t-0"><i class="fa fa-inr"></i> 1,02,000</h6>
							</div>
							<div>
								<small>Pending</small>
								<h6 class="bolder text-danger m-t-0"><i class="fa fa-inr"></i> 12,000</h6>
							</div>
						</div>
					</div>
					
				</div>


				<div>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs nav-bottom-bor" role="tablist">
					    <li role="presentation" class="active">
					    	<a href="#day" aria-controls="day" role="tab" data-toggle="tab">Yesterday v/s <br>Last Week this day</a>
					    </li>
					    <li role="presentation">
					    	<a href="#week" aria-controls="week" role="tab" data-toggle="tab">This Week v/s <br>Last Week</a>
					    </li>
					    <li role="presentation">
					    	<a href="#month" aria-controls="month" role="tab" data-toggle="tab">This Month v/s <br>Last Month</a>
					    </li>
					</ul>

					<div class="tab-content nav-bg-gray">
						<div role="tabpanel" class="tab-pane fade in active" id="day">
							<div style="overflow: auto">
								<img src="{{"img/bookings_chart.png" | absURL}}" class="img-responsive" style="min-width: 620px;">
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade text-center" id="week">
							<h5 class="p-t-50 p-b-50 m-t-0">No Data</h5>
						</div>
						<div role="tabpanel" class="tab-pane fade text-center" id="month">
							<h5 class="p-t-50 p-b-50 m-t-0">No Data</h5>
						</div>
					</div>
				</div>

				<div class="flex-row space-between m-t-50 flex-wrap">
					<h6 class=" bolder text-color">Competitive Analysis (Lowest Rates)</h6>
					<div class="flex-row">
						<a href="#addCompetitor" data-toggle="modal" data-target="#addCompetitor" class="text-secondary flex-row m-r-10 bolder" style="white-space: nowrap;">+ Add Competitor</a>
						<select class="form-control">
							<option>Inventory of 7 days</option>
							<option>Inventory of 14 days</option>
						</select>
					</div>
				</div>

				<div class="m-t-10" style="overflow: auto;">
					<img src="{{"img/compet_analysis.png" | absURL}}" class="img-responsive" style="min-width: 685px;">
				</div>

			</div>


			<div class="col-sm-3">

					<div>

				        <!-- <span style="font-size: 17px;">To Be Defined</span> -->

				<!-- <div class="m-t-50">
					<div class="market-manager-block">
						<div class="market-manager-img">
							<img src="{{"img/manager.jpg" | absURL}}" class="img-responsive">
						</div>
						<div class="market-manager-name">
							<div>Vikas Khanna</div>
							<small>(Market Manager)</small>
						</div>
						<div class="market-manager-number">
							<div><a href="tel:+919988446622" class="text-decor links-click">+91 9988446622</a></div>
							<small><a href="mailto:vikaskhanna@goomo.com" class="text-decor links-click">vikaskhanna@goomo.com</a></small>
						</div>
						<div>
							Goomo's Market Manager is your go-to person for any questions or concerns.
						</div>
					</div>
				</div> -->
					<div class=" p-b-15 p-t-10 p-r-15 p-l-15 boxshadow5">
						<h6 class="bolder text-color">Your Rank</h6>
						<div class="content-score-block yourrank boxshadow5 p-b-20 p-r-20 p-l-20 p-t-20 m-b-20">
							<p class="bolder colorrankbar">CITY</p>
							<h1 class="bolder m-b-5 m-t-5  colorrankbar">400</h1>
							<div class="progress">
								<div class="progress-bar progress-bar1"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 50%;">
								</div>
							</div>
							<div>
								<p class="m-b-5 colorrankbar ">out of 800 properties</p>
							</div>
						</div>
						<div class="content-score-block yourrank boxshadow5 p-b-20 p-r-20 p-l-20 p-t-20">
							<p class="bolder colorrankbar1">LOCALITY</p>
							<h1 class="bolder m-b-5 m-t-5 colorrankbar1">700</h1>
							<div class="progress pr">
								<div class="progress-bar progress-bar2"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 85%;">
								</div>
							</div>
							<div>
								<p class="m-b-5 colorrankbar1 "> out of 850 properties</p>
							</div>
						</div>

						<hr>

						<div class="m-t-10 m-b-10">
							<p class="bolder">How to improve my rank?</p>
						</div>

						<div class="flex-row align-top m-t-10">
							<img src="{{"img/star_icon.png" | absURL}}" class="img-responsive m-t-15">
							<a href="/goomo_html/offers/secret-deal/{{ $.Params.slug }}" target="_blank">
								<img src="{{"img/secret_deal_box.png" | absURL}}" class="img-responsive">
							</a>
						</div>

						<div class="flex-row align-top m-t-20">
							<img src="{{"img/star_icon.png" | absURL}}" class="img-responsive m-r-5">
							<div class="content-score-block " style="width: 100%">
								<h6 class=" m-t-0">Improve Content Score</h6>
								<div class="progress">
								  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
								  </div>
								</div>
								<p class="text-muted bolder">
									<span>80% Good</span>
								</p>
								<div class="m-t-10">
									<a href="/goomo_html/details/contentscore/{{ $.Params.slug }}" class="text-secondary text-decor" target="_blank">View Details</a>
								</div>
							</div>
						</div>

						<div class="flex-row align-top m-t-20">
							<img src="{{"img/star_icon.png" | absURL}}" class="img-responsive m-r-5">
							<div class="content-score-block" style="width: 100%">
								<div class="flex-row space-between">
									<div>
										<h6 class=" m-t-0">Goomo Review Score</h6>
									</div>
									<img src="{{"img/3.0.png" | absURL}}" class="img-responsive" width="50">
								</div>
								<a href="#" class="text-secondary text-decor" target="_blank">View Review Summary</a>
							</div>
						</div>

						<div class="flex-row align-top m-t-20 small">
							<img src="{{"img/star_icon.png" | absURL}}" class="img-responsive m-r-5">
							<h6 class=" m-t-5">
								<a href="/goomo_html/rates-availability/inventory/{{ $.Params.slug }}" class="text-darker" target="_blank">
									Update your inventory to avoid sold outs
								</a>
							</h6>
						</div>
						<div class="flex-row align-top m-t-20 small">
							<img src="{{"img/star_icon.png" | absURL}}" class="img-responsive m-r-5">
							<h6 class=" m-t-5">
								<a href="/goomo_html/rates-availability/rates/{{ $.Params.slug }}" class="text-darker" target="_blank">
								Reduce Rates
								</a>
							</h6>
						</div>
						<div class="flex-row align-top m-t-20 small">
							<img src="{{"img/star_icon.png" | absURL}}" class="img-responsive m-r-5">
							<h6 class=" m-t-5">
								<a href="/goomo_html/details/commission/{{ $.Params.slug }}" class="text-darker" target="_blank">
								Give higher commission to Goomo and rank higher
								</a>
							</h6>
						</div>
					</div>
					<div class="m-t-20 p-b-15 p-t-15 p-r-15 p-l-15 boxshadow5">
						<p class="bolder text-primary ">What's new on Goomo</p>
						<div class="flex-row">
							<img src="{{"img/new_icon.png" | absURL}}" class="img-responsive m-r-5">
							<div class="bolder">Increase the commission to Goomo to rank higher
								<a href="#" class="text-secondary text-decor m-l-10" data-toggle="modal" data-target="#whatsnew1"> more</a>
							</div>
						</div>
					</div>

					<div class="m-t-15">
						<a href="#">
							<img src="{{"img/google_play.png" | absURL}}" class="img-responsive">
						</a>
					</div>
					<hr>
					<div class=" p-b-15  p-r-15 p-l-15 ">
						<div class="text-right m-t-10">
							<a href="#" class="text-secondary text-decor" target="_blank">Goomo Help Center</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!--  -->

		<div class="modal fade fnb-modal" id="addCompetitor" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content text-center">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title text-left">Add Competitor</h4>
		        <div class="text-left">
		        	<small class="bolder"><span class="text-danger">Note:</span> Maximum of only 10 competitors are allowed</small>
		        </div>
		      </div>
		      <hr>
		      <div class="modal-body text-left">
		      	<div class="input-group">
		      	  	<span class="input-group-addon" id="basic-addon1" style="background: transparent;    border-top: 0;    border-left: 0;    border-radius: 0;">
		      	  		<i class="fa fa-search"></i>
		      	  	</span>
		      		<input type="text" class="form-control fnb-input" placeholder="Search Hotels" name="">
		      	</div>

		      	<p class="bolder m-t-50">Select Hotels</p>
		      	<div class="row mobile-flex">
		      	  <div class="col-sm-6 col-xs-12">
		      	      <div class="checkbox">
		      	        <label>
		      	            <input type="checkbox" value="" class="">
		      	            Avion Hotel
		      	          </label>
		      	      </div>
		      	  </div>
		      	  <div class="col-sm-6 col-xs-12">
		      	      <div class="checkbox">
		      	        <label>
		      	            <input type="checkbox" value="" class="">
		      	            Avion Hotel
		      	          </label>
		      	      </div>
		      	  </div>
		      	</div>
		      	<div class="row mobile-flex">
		      	  <div class="col-sm-6 col-xs-12">
		      	      <div class="checkbox">
		      	        <label>
		      	            <input type="checkbox" value="" class="">
		      	            Ramee Guestline Hotel Juhu
		      	          </label>
		      	      </div>
		      	  </div>
		      	  <div class="col-sm-6 col-xs-12">
		      	      <div class="checkbox">
		      	        <label>
		      	            <input type="checkbox" value="" class="">
		      	            Ramee Guestline Hotel Juhu
		      	          </label>
		      	      </div>
		      	  </div>
		      	</div>
		      	<div class="row mobile-flex">
		      	  <div class="col-sm-6 col-xs-12">
		      	      <div class="checkbox">
		      	        <label>
		      	            <input type="checkbox" value="" class="">
		      	            The Orchid
		      	          </label>
		      	      </div>
		      	  </div>
		      	  <div class="col-sm-6 col-xs-12">
		      	      <div class="checkbox">
		      	        <label>
		      	            <input type="checkbox" value="" class="">
		      	            The Orchid
		      	          </label>
		      	      </div>
		      	  </div>
		      	</div>
		      	<div class="row mobile-flex">
		      	  <div class="col-sm-6 col-xs-12">
		      	      <div class="checkbox">
		      	        <label>
		      	            <input type="checkbox" value="" class="">
		      	            Hotel Royal Castle
		      	          </label>
		      	      </div>
		      	  </div>
		      	  <div class="col-sm-6 col-xs-12">
		      	      <div class="checkbox">
		      	        <label>
		      	            <input type="checkbox" value="" class="">
		      	            Hotel Royal Castle
		      	          </label>
		      	      </div>
		      	  </div>
		      	</div>
		      	<div class="row mobile-flex">
		      	  <div class="col-sm-6 col-xs-12">
		      	      <div class="checkbox">
		      	        <label>
		      	            <input type="checkbox" value="" class="">
		      	            Hotel Daisy Residency
		      	          </label>
		      	      </div>
		      	  </div>
		      	  <div class="col-sm-6 col-xs-12">
		      	      <div class="checkbox">
		      	        <label>
		      	            <input type="checkbox" value="" class="">
		      	            Hotel Daisy Residency
		      	          </label>
		      	      </div>
		      	  </div>
		      	</div>
		      </div>
		      <hr>
		      <div class="modal-footer">
		        <button type="button" class="btn fnb-btn outline" data-dismiss="modal">Close</button>
		        <button type="button" class="btn fnb-btn secondary-btn" data-dismiss="modal">Add</button>
		      </div>
		    </div>
		  </div>
		</div>

	</div>
	<!-- Modal -->
	<div class="modal fade region-add-modal" id="whatsnew2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close modalx" data-dismiss="modal" aria-label="Close" disabled=""><span aria-hidden="true">&times;</span></button>
	            <h6 class="modal-title">Hey Krish, some important updates below. </h6>
	          </div>
	          <div class="modal-body p-b-40">
	          	<p class="bolder">Increase the commission to Goomo to rank higher</p>
	          	<div class="row">
	          		<div class="col-sm-8">
	          			Increase the commission to Goomo to rank higher.
	          		</div>
	          		<div class="col-sm-4">
	          			<button id="btnread1" class="btn fnb-btn secondary-btn">Mark as read</button><span id="readhide1" class=" hidden"><img src="{{"img/green-check.png" | absURL}}"  width="">
	          				<label class="cursor-pointer">Read</label></span>
	          		</div>
	          	</div>

	          	<hr>
	          	<div class="row">
	          		<div class="col-sm-8">
	          			<p class="bolder">Free-GST filling : File your GST seamlessly for free using cleartax, only for ingommt partners till March 2018. Hurry </p>
	          		</div>
	          		<div class="col-sm-4">
	          			<button id="btnread2" class="btn fnb-btn secondary-btn">Mark as read</button><span id="readhide2" class="hidden"><img src="{{"img/green-check.png" | absURL}}"  width="">
	          				<label class="cursor-pointer">Read</label></span>
	          		</div>
	          	</div>
	          </div>
	      </div>
	    </div>
  	</div>
  	<!-- modal end -->
  	<div class="modal fade region-add-modal" id="whatsnew1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	            <h6 class="modal-title">What's new on Gommo</h6>
	          </div>
	          <div class="modal-body">
	          	<p class="bolder">Increase the commission to Goomo to rank higher</p>
	          	<p>
	          		Update your inventory to avoid sold outs <br>
	          		Reduce Rates<br>
	          		Give higher commission to Goomo and rank higher
	          	</p>
	          </div>
	      </div>
	    </div>
  	</div>

	<script type="text/javascript">
		var existingComments = [
			{
				"sectionId": "1",
				"comments": []
			}
		];
	</script>
{{ end }}
