{{ define "main" }}

	<div class="row">
		<div class="col-sm-9">
			<div class="m-b-20 m-t-20"><a href="#" class="readall" style="float: right;"> Mark all as read</a><br/></div>
			
			<div class="row notification-container m-b-40 ">
				<div class="row myread ">
					<div class="notification-border-bottom m-l-40 m-r-40">
						Low Inventory Alert! Please update yout rooms
						Deluxe Room -- 17/01/2018 
						<span style="float:right;">15th January at 14:05</span>
					</div>
				</div>
				<div class="row myread">
					<div class="notification-border-bottom m-l-40 m-r-40">
						QC team suggests you look at the Images section.
						<span style="float:right;">14th January at 14:05</span>
					</div>
				</div>
				<div class="row myread">
					<div class="notification-border-bottom m-l-40 m-r-40">
						Woohoo! Casa Britona is now live on Goomo! 
						<span style="float:right;"> 12th January at 14:05</span>
					</div>
				</div>
				<div class="row myread">
					<div class="notification-border-bottom m-l-40 m-r-40">
						Your property is submitted successfully for review.
						<span style="float:right;"> 14th January at 14:05</span>
					</div>
				</div>

				
			</div>				
			
		</div>
		
	</div>
	


{{ end }}