{{ define "main" }}
	<div class="">
		<h6 class="text-info bolder">Hotel Policy:</h6>
		<p>
			Hotel may charge compulsory gala dinner supplement on Christmas/New Year's eve or other festive periods. Any such supplements need to be paid directly at the hotel.
		</p>
		<hr>

		<h6 class="text-info bolder">Standard Cancellation Policy:</h6>
		<p>
			01 night cancellation fee is applicable if cancelled within 24 hours to arrival.<br>
			No cancellation fee is applicable if cancelled before 24 hours prior to arrival.<br>
			100% retention fee is applicable in case of no show.
		</p>
		<hr>
	</div>
{{ end }}
