{{ define "main" }}
	<div class="">
<!-- 		<div class="flex-row desk-hide">
			<div class="back-btn">
				<a href="/goomo_html/checklist/{{ $.Params.slug }}">
					<i class="fa fa-chevron-left"></i>
				</a>
			</div>
			<div class="back-title m-l-10 h4 bolder">
				Back to Property Checklist
			</div>
		</div> -->

		<div class="row m-t-0">
				<div class="col-md-12">
					<table id="location-table" class="table dataTable listing-table table-striped" cellspacing="0" width="100%" style="min-width: 1000px">
            <thead>
              <tr>
                <th class="text-left" style="">
                  Check in Start
                </th>
                <th class="text-left" style="">
                  Check in End
                </th>
                <th class="text-left" style="">
                  Discount
                </th>
                <th class="text-left" >
                  Rate Plan
                </th>
                <th class="text-left" style="">
                  Limit
                </th>
                <th class="text-left" style="">
                  Validity (days)
                </th>
                <th class="no-sort">
                  Action
                </th>
              </tr>
            </thead>

            <tbody>

              <tr>
                <td class="text-left">
                  06 Oct 2017
                </td>
                <td class="text-left">
                  30 Oct 2017
                </td>
                <td class="text-left">20%</td>
                <td class="text-left">All Meals</td>
                <td class="text-left">20</td>
                <td class="text-left">4</td>
                <td class="text-left">
                  <a href="/goomo_html/offers/secret-deal/{{ $.Params.slug }}" class="text-primary m-r-10"> Edit</a>
                  <a href="" class="text-danger"> Delete</a>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  15 Oct 2017
                </td>
                <td class="text-left">
                  20 Oct 2017
                </td>
                <td class="text-left">15%</td>
                <td class="text-left">Room Only</td>
                <td class="text-left">10</td>
                <td class="text-left">10</td>
                <td class="text-left">
                  <a href="/goomo_html/offers/secret-deal/{{ $.Params.slug }}" class="text-primary m-r-10"> Edit</a>
                  <a href="" class="text-danger"> Delete</a>
                </td>
              </tr>
              <tr>
                <td class="text-left">
                  01 Nov 2017
                </td>
                <td class="text-left">
                  15 Dec 2017
                </td>
                <td class="text-left">10%</td>
                <td class="text-left">Breakfast Plan</td>
                <td class="text-left">5</td>
                <td class="text-left">15</td>
                <td class="text-left">
                  <a href="/goomo_html/offers/secret-deal/{{ $.Params.slug }}" class="text-primary m-r-10"> Edit</a>
                  <a href="" class="text-danger"> Delete</a>
                </td>
              </tr>

            </tbody>
          </table>

				</div>
		</div>
	</div>

{{ end }}
