{{ define "main" }}
	<div class="">
		<!-- <div class="flex-row desk-hide">
			<div class="back-btn">
				<a href="/goomo_html/checklist/{{ $.Params.slug }}">
					<i class="fa fa-chevron-left"></i>
				</a>
			</div>
			<div class="back-title m-l-10 h4 bolder">
				Back to Property Checklist
			</div>
		</div> -->

		<h6 class="m-b-0 bolder text-primary">What is a Secret Deal?</h6>

		<div class="row">
			<div class="col-sm-4 text-center">
				<div class="p-l-40 p-r-40 p-t-30">
					<img src="{{"img/secret_deal1.png" | absURL}}" class="img-responsive center-block m-t-10 m-b-20">
					<p class="text-info">
						There will be many instances when a logged in user might visit your hotel page and not do a booking.
					</p>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="p-l-40 p-r-40 p-t-30">
					<img src="{{"img/secret_deal2.png" | absURL}}" class="img-responsive center-block m-t-20 m-b-15">
					<p class="text-info">
						To get this user to book your hotel, you need to send some attractive deals, and that can be done by creating a <span class="bolder">Secret Deal</span>.
					</p>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="p-l-40 p-r-40 p-t-30">
					<img src="{{"img/secret_deal3.png" | absURL}}" class="img-responsive center-block m-b-25">
					<p class="text-info">
						This deal will not be visible on the hotel page but will be sent only to the user through his email.
					</p>
				</div>
			</div>
		</div>

		<div class="m-t-20">
			<span class="text-danger">Note: </span> Secret Deals shall be applied on top of existing offers. Eg: Your sell price is Rs.1000/- and there is a regular discount offer of 10%. If you provide a secret deal of 10%, it would be applied on top of Rs.900/-, and the final sell price would be Rs.810/- (0.9x900).
		</div>

		<div class="m-t-50">
			<div class="row">
				<div class="col-sm-3">
					<p class="text-info bolder m-b-0">Check in Start</p>
					<input type="text" class="from-date form-control fnb-input m-r-10 sub-dates" placeholder="Check in Start">
				</div>
				<div class="col-sm-3">
					<p class="text-info bolder m-b-0">Check in End</p>
					<input type="text" class="to-date form-control fnb-input m-r-10 sub-dates" placeholder="Check in End">
				</div>
			</div>
		</div>
		<div class="m-t-40">
			<div class="row">
				<div class="col-sm-3">
					<p class="text-info bolder m-b-0">Secret Deal Discount(%)</p>
					<input type="number" class="form-control fnb-input m-r-10 sub-dates p-l-5" placeholder="0" value="20">
				</div>
				<div class="col-sm-3">
					<p class="text-info bolder m-b-0">Select Rate Plan</p>
					<select class="fnb-select select-variant form-control  p-l-0" name="">
					    <option value="">Select Rate Plan</option>
					    <option selected="">Rate Plan 1</option>
					    <option>Rate Plan 2</option>
					</select>
				</div>
			</div>
		</div>
		<div class="m-t-40">
			<div class="row">
				<div class="col-sm-3">
					<p class="text-info bolder m-b-0">Secret Deal Limit</p>
					<input type="number" class="form-control fnb-input m-r-10 sub-dates p-l-5" placeholder="0" value="20">
					<div class="small text-muted m-t-5">Max no of customers per day to send secret deal</div>
				</div>
				<div class="col-sm-3">
					<p class="text-info bolder m-b-0">Secret Deal Validity (in days)</p>
					<input type="number" class="form-control fnb-input m-r-10 sub-dates p-l-5" placeholder="0" value="4">
					<div class="small text-muted m-t-5">Offer applicable if booked within X days from secret deal creation</div>
				</div>
			</div>
		</div>

		<div class="text-left">
			<button class="btn fnb-btn secondary-btn m-t-30">Submit</button>
		</div>

	</div>
{{ end }}
