{{ define "main" }}
	<div class="c-gap">

		<div class="row">
			<div class="col-sm-9">
				<div class="flex-row space-between">
					<div class="flex-row">
						<img src="{{"img/hotel_icon.png" | absURL}}" class="img-responsive m-r-10">
						<div>
							<h6 class="m-b-5 bolder property-name">
								{{ .Params.property }}
								<div class="rating">
									<!-- <div class="bg"></div> -->
									<div class="value" style="width: 60%;"></div>
								</div>
							</h6>
							<p class="text-muted">Britona, Goa, India</p>
						</div>
					</div>
					<button class="btn btn-white no-border outline fnb-btn mobile-hide">Request Change</button>
				</div>
				<hr class="m-t-0 m-b-10">
				<div class="flex-row property-meta">
					<div class="m-r-50 align-center flex-row small">
						<p class="text-muted m-b-5">Type:</p>
						<h6 class="m-t-5 m-l-5">Boutique Hotel</h6>
					</div>
					<div class="m-r-50 align-center flex-row small">
						<p class="text-muted m-b-5">Theme:</p>
						<h6 class="m-t-5 m-l-5">Leisure</h6>
					</div>
					<div class="m-r-50 align-center flex-row small">
						<p class="text-muted m-b-5">Contract Signed:</p>
						<h6 class="m-t-5 m-l-5">Yes</h6>
					</div>
				</div>

				<div class="">
					<div class="small">
						<p class="text-muted m-t-5 m-b-5">Overview:</p>
					</div>
					<p class="overview-text">
						{{ .Params.property }}, Goa, features front desk, room service, Wi-Fi, parking. The cozy in-house restaurant and bar is a perfect place to pamper the taste buds with a wide range of delectable dishes and drinks.
						The rooms are equipped with air-conditioner, television, intercom. They are spacious and decorated in warm neutrals and textures. They have attached bathrooms fitted with necessary toiletries.
						The proximity of hotel to numerous tourist attractions makes it one of the most sought after accommodation options in Goa. Guests can explore places like St Alex Church(1 km), Tibetan Market(1 km), Calangute Beach(2 km), Baga Beach(2 km), Holiday Street(2 km) and other places. Shoppers can have fun-filled shopping experience at nearby mall. The hotel is located at a distance of 18 km from Thivim Railway Station and 38 km from Goa International Airport.
						Relax and have a lovely stay at {{ .Params.property }} Resort!
					</p>
				</div>

				<!-- <div class="alert alert-danger m-b-0 m-t-25 flex-row">
					<i class="fa fa-exclamation-circle p-r-10 text-danger" aria-hidden="true"></i>
					<span>You must update your Rates and Availability information in order for your property to be Active.</span>
				</div> -->

				<a href="#" class="m-t-20 dis-block desk-hide text-secondary">Request Change</a>

				<div class="listing-details m-t-40">
					<h4 class="no-m-t fly-out-heading-size bat-color bolder">Property Checklist</h4>
					<div class="flex-row property-status-box">
						<div class="status-info">
							Property (General Manager) has entered all the required details and submitted the property for review. Please verify the required the details and suggest edits or approve as required.
						</div>
						<div class="check-status">
							Checklist Status:<br>
							<img src="{{"img/green-check-circle.png" | absURL}}" class="img-responsive m-t-15 center-block" width="">
						</div>
						<div class="qc-status">
							QC Status:<br>
							<h6 class="text-secondary">Pending Review</h6>
							<!-- <button class="btn btn-white outline fnb-btn m-t-15" data-target="#forReview" data-toggle="modal">Submit for Review</button> -->
						</div>
					</div>
				</div>

				{{ partial "checklist-table.html" .}}

			</div>
			<div class="col-sm-3 right-sidebar">
				{{ partial "right-sidebar.html" .}}
			</div>
			<div class="market-manager-img mobile-btn desk-hide	">
				<img src="{{"img/contact.png" | absURL}}" class="img-responsive">
			</div>
		</div>
	</div>

	<div class="modal fade fnb-modal" id="forReview" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content text-center">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title text-secondary">Submit Property for Review</h4>
	      </div>
	      <hr>
	      <div class="modal-body">
	        <p class="p-t-20">
	        	You're about to submit <span class="text-primary bolder">{{ .Params.property }}</span> to the Goomo QC team for review. <br>
	        	Please make sure all the details you've entered are correct.<br><br>
	        	Are you sure you want to proceed?
	        </p>
	      </div>
	      <hr>
	      <div class="modal-footer flex-row justify-center">
	        <button type="button" class="btn fnb-btn outline" data-dismiss="modal">No, take me back</button>
	        <button type="button" class="btn fnb-btn primary-btn">Yes, I'm done</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div>
{{ end }}
