/* line 6, components/_buttons.less */
.fnb-btn {
  font-size: 1.05em;
  -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease;
  font-weight: 500;
  border-radius: 4px;
}
/* line 12, components/_buttons.less */
.fnb-btn.outline {
  background-color: #fff;
  color: #378f9e;
  border: 1px solid;
}
/* line 16, components/_buttons.less */
.fnb-btn.outline:hover,
.fnb-btn.outline:active {
  background-color: #378f9e;
  color: #fff;
  border: 1px solid;
}
/* line 22, components/_buttons.less */
.fnb-btn.s-outline {
  background-color: #fff;
  color: #ff8500;
  border: 1px solid;
}
/* line 26, components/_buttons.less */
.fnb-btn.s-outline:hover,
.fnb-btn.s-outline:active {
  background-color: #ff8500;
  color: #fff;
  border: 1px solid;
}
/* line 32, components/_buttons.less */
.fnb-btn.half-border {
  border-bottom: 2px solid;
}
/* line 34, components/_buttons.less */
.fnb-btn.half-border:hover {
  border: 1px solid;
  border-bottom: 2px solid;
}
/* line 39, components/_buttons.less */
.fnb-btn.border-btn {
  border: 2px solid;
}
/* line 42, components/_buttons.less */
.fnb-btn.mini {
  padding: 6px 20px;
}
/* line 45, components/_buttons.less */
.fnb-btn.primary-btn {
  background-color: #378f9e;
  color: #fff;
}
/* line 48, components/_buttons.less */
.fnb-btn.primary-btn:hover {
  background-color: #fff;
  color: #378f9e;
  border: 1px solid;
}
/* line 54, components/_buttons.less */
.fnb-btn.secondary-btn {
  background-color: #ff8500;
  color: #fff;
}
/* line 57, components/_buttons.less */
.fnb-btn.secondary-btn:hover {
  background-color: #fff;
  color: #ff8500;
  border: 1px solid;
}
/* line 63, components/_buttons.less */
.fnb-btn.transparent {
  border-color: #000;
  color: #ff8500;
  background-color: #fff;
  border-radius: 2px;
}
/* line 68, components/_buttons.less */
.fnb-btn.transparent:hover,
.fnb-btn.transparent:active,
.fnb-btn.transparent:focus {
  border-color: #000;
  color: #ff8500;
  background-color: #fff;
}
/* line 74, components/_buttons.less */
.fnb-btn.full {
  padding: 0.5em 2.5em;
}
/* line 77, components/_buttons.less */
.fnb-btn:active,
.fnb-btn:focus {
  box-shadow: none;
  outline: 0;
}
/* line 81, components/_buttons.less */
.fnb-btn.bnw {
  background-color: #000;
  color: #fff;
  border: 1px solid;
}
/* line 86, components/_buttons.less */
.fnb-btn.grey {
  background-color: rgba(173, 167, 167, 0.52);
  color: rgba(0, 0, 0, 0.74);
  border-color: #ada7a7;
}
/* line 90, components/_buttons.less */
.fnb-btn.grey:hover,
.fnb-btn.grey:active {
  background-color: rgba(173, 167, 167, 0.52);
  color: rgba(0, 0, 0, 0.74);
  border-color: #ada7a7;
}
/* line 96, components/_buttons.less */
.fnb-btn.fullwidth {
  display: block;
  width: 100%;
}
/* line 100, components/_buttons.less */
.fnb-btn.no-border {
  border: 0;
  background-color: transparent;
}
/* line 103, components/_buttons.less */
.fnb-btn.no-border:hover,
.fnb-btn.no-border:active {
  background-color: transparent;
  border: 0;
  color: #378f9e;
}
/* line 109, components/_buttons.less */
.fnb-btn.alternate {
  background-color: #469a6e;
  color: #fff;
  border: 2px solid #469a6e;
}
/* line 113, components/_buttons.less */
.fnb-btn.alternate:hover {
  background-color: transparent;
  color: #469a6e;
}
/* line 118, components/_buttons.less */
.fnb-btn.white-border {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}
/* line 123, components/_buttons.less */
.fnb-btn.bold-btn {
  font-weight: 600;
}
/* line 128, components/_buttons.less */
.fnb-btn.toggle-btn.active {
  background-color: #ff8500;
  color: #fff;
}
/* line 136, components/_buttons.less */
.fnb-btn.toggle-btn.active.primary {
  background-color: #378f9e;
}
/* line 143, components/_buttons.less */
.social-btn {
  padding: 0.8em 2em;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  border-radius: 0;
  width: 100%;
  margin-bottom: 1em;
  position: relative;
}
/* line 154, components/_buttons.less */
.social-btn.fb {
  background-color: #3b5998;
}
/* line 157, components/_buttons.less */
.social-btn.google {
  background-color: #ec2c2c;
}
/* line 160, components/_buttons.less */
.social-btn i {
  position: absolute;
  left: 10px;
  font-size: 1.35em;
}
/* line 6, dashboard.less */
body {
  background: #4e4c4c;
}
/* line 11, dashboard.less */
a {
  color: #378f9e;
}
/* line 13, dashboard.less */
a:hover {
  color: #2a6d78;
}
/* line 17, dashboard.less */
.text-success {
  color: #11a44a;
}
/* line 20, dashboard.less */
.btn-link {
  color: #378f9e;
}
/* line 23, dashboard.less */
.form-group {
  margin-bottom: 20px;
}
/* line 26, dashboard.less */
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 29, dashboard.less */
.flex-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* Vertical Align modal */
/* line 34, dashboard.less */
.modal {
  text-align: center;
  padding: 0!important;
}
/* line 39, dashboard.less */
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
/* line 47, dashboard.less */
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
@media screen and (max-width: 450px) {
  /* line 53, dashboard.less */
  .modal-dialog {
    width: 90%;
  }
}
/* line 59, dashboard.less */
.fnb-select.w-border {
  border: 1px solid #d8d8d8;
}
@media screen and (max-width: 450px) {
  /* line 65, dashboard.less */
  .fnb-breadcrums .main-name {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  /* line 71, dashboard.less */
  .customDtSrch {
    max-width: 200px;
  }
}
/* line 75, dashboard.less */
.site_title {
  padding-left: 0;
  text-align: center;
  color: #378f9e !important;
}
/* line 81, dashboard.less */
.left_col {
  background: #4e4c4c;
  z-index: 999 !important;
  width: 230px;
}
/* line 87, dashboard.less */
.x_panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
}
/* line 102, dashboard.less */
.nav > li > a {
  position: relative;
  display: block;
  padding: 13px 15px 12px;
}
/* line 103, dashboard.less */
.nav > li > a:focus {
  text-decoration: none;
  background: transparent;
}
/* line 114, dashboard.less */
.nav li li li.current-page {
  background: none;
}
/* line 119, dashboard.less */
.nav li li.current-page a {
  color: #fff;
}
/* line 123, dashboard.less */
.nav li.current-page {
  background: #378f9e;
  font-weight: 600;
}
/* line 131, dashboard.less */
.nav.side-menu > li {
  position: relative;
  display: block;
  cursor: pointer;
}
/* line 135, dashboard.less */
.nav.side-menu > li > a {
  margin-bottom: 6px;
  color: #E7E7E7;
  font-weight: 400;
}
/* line 139, dashboard.less */
.nav.side-menu > li > a:hover {
  color: #F2F5F7 !important;
  text-decoration: none;
  background: transparent;
}
/* line 145, dashboard.less */
.nav.side-menu > li.current-page {
  border-right: 5px solid #1ABB9C;
}
/* line 150, dashboard.less */
.nav.side-menu > li.active > a {
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}
/* line 158, dashboard.less */
.nav.child_menu {
  display: none;
}
/* line 160, dashboard.less */
.nav.child_menu li {
  padding-left: 36px;
}
/* line 161, dashboard.less */
.nav.child_menu li:hover {
  background-color: rgba(255, 255, 255, 0.06);
}
/* line 166, dashboard.less */
.nav.child_menu li li:hover {
  background: none;
}
/* line 174, dashboard.less */
.nav.child_menu li li a.active {
  color: #fff;
}
/* line 178, dashboard.less */
.nav.child_menu li li.active {
  background: none;
}
/* line 181, dashboard.less */
.nav.child_menu li a:hover {
  background-color: transparent;
}
/* line 185, dashboard.less */
.nav.child_menu li.active {
  background-color: rgba(255, 255, 255, 0.06);
}
/* line 189, dashboard.less */
.nav.child_menu > li > a {
  color: #E7E7E7;
}
/* line 200, dashboard.less */
.nav-md ul.nav.child_menu li:before {
  bottom: auto;
  content: "";
  height: 8px;
  left: 23px;
  margin-top: 18px;
  position: absolute;
  right: auto;
  width: 8px;
  z-index: 1;
  border-radius: 50%;
}
/* line 212, dashboard.less */
.nav-md ul.nav.child_menu li:after {
  border-left: 1px solid #425668;
  bottom: 0;
  content: "";
  left: 27px;
  position: absolute;
  top: 0;
}
/* line 221, dashboard.less */
.nav-md ul.nav.child_menu li:last-child::after {
  bottom: 50%;
}
/* line 227, dashboard.less */
.nav-md .col-md-3.left_col {
  min-height: 100%;
  width: 230px;
  padding: 0;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 234, dashboard.less */
.nav-md .right_col {
  padding: 10px 20px 0;
  margin-left: 230px;
  background: #F7F7F7;
}
@media (max-width: 767px) {
  /* line 241, dashboard.less */
  .nav-md .col-md-3.left_col {
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(-500px, 0, 0);
            transform: translate3d(-500px, 0, 0);
    -webkit-transition: all 0.8s cubic-bezier(0.44, -0.25, 0.75, 1);
            transition: all 0.8s cubic-bezier(0.44, -0.25, 0.75, 1);
  }
  /* line 248, dashboard.less */
  .nav-md .col-md-3.left_col .left_col {
    width: 280px;
  }
  /* line 251, dashboard.less */
  .nav-md .col-md-3.left_col.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  /* line 255, dashboard.less */
  .nav-md .right_col {
    margin-left: 0;
  }
}
/* line 261, dashboard.less */
.nav.side-menu > li.active,
.nav.side-menu > li.current-page {
  border-right: 5px solid #378f9e;
}
/* line 264, dashboard.less */
.nav.side-menu > li.active > a {
  background: #378f9e;
  background: #413f3f;
}
/* line 269, dashboard.less */
.nav-md ul.nav.child_menu li:before {
  background: #378f9e;
}
/* line 272, dashboard.less */
.nav-md ul.nav.child_menu li:after {
  border-color: #378f9e;
}
/* line 276, dashboard.less */
.nav li li li.current-page {
  background: #378f9e;
}
/* line 289, dashboard.less */
.top_nav {
  display: block;
  margin-left: 230px;
}
/* line 293, dashboard.less */
.nav_menu {
  float: left;
  background: #EDEDED;
  border-bottom: 1px solid #D9DEE4;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}
/* line 302, dashboard.less */
.nav_title {
  background: #4e4c4c;
}
/* line 305, dashboard.less */
.breadcrumb {
  margin-bottom: 0;
  padding: 8px 0;
}
@media (max-width: 767px) {
  /* line 310, dashboard.less */
  .page-title .title_left {
    width: 100%;
  }
}
/* line 315, dashboard.less */
.dt-link {
  text-decoration: underline;
  color: #6b6b6b;
}
/* line 320, dashboard.less */
.row-actions {
  text-align: right;
}
/* line 322, dashboard.less */
.row-actions a {
  padding: 10px;
  display: inline-block;
  font-size: 1.2em;
}
/* line 330, dashboard.less */
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 10px 8px;
}
/* line 341, dashboard.less */
.dataTable .sorting,
.dataTable .sorting_asc,
.dataTable .sorting_desc {
  padding-right: 0 !important;
}
/* line 343, dashboard.less */
.dataTable .sorting:after,
.dataTable .sorting_asc:after,
.dataTable .sorting_desc:after {
  content: '';
  display: none !important;
}
/* line 350, dashboard.less */
.dataTable .sorting .sort-icon:before {
  content: "\f0dc";
  opacity: 0.5;
}
/* line 358, dashboard.less */
.dataTable .sorting_asc .sort-icon:before {
  content: "\f0de";
}
/* line 365, dashboard.less */
.dataTable .sorting_desc .sort-icon:before {
  content: "\f0dd";
}
/* line 370, dashboard.less */
.dataTable .sort-icon {
  display: inline-block;
  padding-left: 5px;
  font: normal normal normal 14px/1 FontAwesome;
}
/* line 377, dashboard.less */
.dataTable select.form-control.multi-dd {
  display: none;
}
/* line 383, dashboard.less */
.dataTable.no-wrap thead th {
  white-space: nowrap;
}
/* line 389, dashboard.less */
.dataTables_filter {
  display: none;
}
@media (max-width: 767px) {
  /* line 393, dashboard.less */
  .dataTables_wrapper > .row {
    overflow: auto!important;
  }
  /* line 396, dashboard.less */
  .dataTable {
    min-height: 220px;
  }
}
/* Datatable Select Row */
/* line 402, dashboard.less */
table.dataTable tbody td.select-checkbox,
table.dataTable thead th.select-checkbox {
  display: none;
}
/* line 406, dashboard.less */
table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
  background-color: rgba(55, 143, 158, 0.15);
}
/* line 411, dashboard.less */
table.dataTable tbody td.select-checkbox:before,
table.dataTable thead th.select-checkbox:before {
  border-color: #686565;
}
/* line 415, dashboard.less */
table.dataTable tr.selected td.select-checkbox:before,
table.dataTable tr th.selected.select-checkbox:before {
  border-color: transparent;
}
/* line 419, dashboard.less */
table.dataTable tr.selected td.select-checkbox:after,
table.dataTable tr th.selected.select-checkbox:after {
  color: #378f9e;
  content: "\f046";
  font-family: FontAwesome;
  text-shadow: none;
  margin-top: -10px;
  margin-left: -5px;
}
/* Datatable Select Row End */
/* line 431, dashboard.less */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #378f9e;
  border-color: #378f9e;
}
/* line 435, dashboard.less */
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #378f9e;
}
/* line 440, dashboard.less */
.range_inputs .applyBtn {
  background-color: #ff8500;
  border-color: #ff8500;
}
/* line 446, dashboard.less */
.multiselect-container {
  padding: 0.5em;
}
/* line 448, dashboard.less */
.multiselect-container.dropdown-menu {
  left: -75px;
}
/* line 453, dashboard.less */
.multiselect.multiselect {
  border: 0;
  width: auto;
  display: inline;
}
/* line 458, dashboard.less */
.multiselect.dropdown-toggle {
  cursor: pointer;
}
/* line 462, dashboard.less */
.form-inline .multiselect-container label.checkbox {
  padding: 3px 20px;
}
/* line 465, dashboard.less */
.form-inline .multiselect-container li a label.checkbox input[type=checkbox] {
  margin-right: 5px;
}
/* line 467, dashboard.less */
.form-inline .multiselect-container li a label.checkbox input[type=checkbox]:before {
  top: -8px;
}
/* line 473, dashboard.less */
.form-control.no-edit {
  padding: 0;
  border: 0;
  box-shadow: none;
  height: auto;
  font-size: inherit;
  pointer-events: none;
  resize: none;
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  /* line 486, dashboard.less */
  .branch-row {
    padding-left: 0;
  }
}
/* line 496, dashboard.less */
.list-app-modal .close {
  opacity: 0.8;
}
/* line 501, dashboard.less */
.list-app-modal .interested-options .option .cat-icon {
  height: 50px;
  padding: 0.5em;
}
/* line 508, dashboard.less */
.list-app-modal .instructions .fnb-icons.cat-icon {
  height: 50px;
  padding: 0.5em;
}
@media screen and (max-width: 650px) {
  /* line 515, dashboard.less */
  .list-app-modal .firstStep .close {
    position: relative;
    right: 1em;
    top: 1em;
    font-size: 1em;
    z-index: 2;
  }
}
/* line 528, dashboard.less */
.bulk-failure .modal-header {
  background-color: #eee;
  margin: -20px;
  margin-bottom: 0;
}
/* line 534, dashboard.less */
.bulk-failure .listings__links {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-top: 1em;
}
/*# sourceMappingURL=dashboard.css.map */