{{ define "main" }}
<div class="bgi p-b-50">
  <div class="container main-containerlogin">

  	<h2 class="welcometxt m-t-30 m-b-50">Welcome Back to Goomo!</h2>
		<div class="logincont">
      <div class="loginblock loginbox1 boxdown">
        <div class="text-muted logbox1">
         	<h4>Haven't registered yet?</h4>
         	<h4 class="m-b-30">List Your Property on Goomo</h4>

	        <p> Consectetur vestibulum maecenas
          curabitur hac felis vestibulum </p>

          <p>Porta at at suspendisse dolor
         	fames ullamcorper cum id per
         	suspendisse a dignissim eu mi
         	proin lorem</p>
        </div>
      </div>

      <div class="loginblock main-login loginbox2">
        <h4 class="text-muted m-b-20"> Sign in to <span style="color: black;">Goomo</span> </h4>
        <form>
        	<div class="form-group m-b-20 ">
          	<input type="text" class="form-control fnb-input" name="" value="" placeholder="Username">
     		</div>
     		<div class="form-group m-b-20 ">
          	<input type="password" class="form-control fnb-input" name="" value="" placeholder="Password">
     		</div>
     		<div>Did you <a href="#" class="text-secondary">forget your password?</a></div>
     		<button type="submit" class="btn primary-btn fnb-btn no-radius buttonalign btn-block" style="">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{ end }}