{{ define "main" }}
	<div class="c-gap">
		<div class="alert alert-success alert-dismissible fnb-alert" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div class="flex-row">
				<i class="fa fa-check-square-o fa-2x " aria-hidden="true"></i>
				<div>
				<strong>Success</strong>
				<div>You have created a new listing</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-9">
				<h3 class="no-m-t fly-out-heading-size  ">Let us help you complete your listing</h3>
				<h5 class="no-m-t fly-out-heading-size text-lighter ">Here is a checklist to get you started!</h5>
			</div>
			<div class="col-sm-3">
				<img src="{{"img/mrkt-manager.png" | absURL}}" class="img-responsive pull-right">
				<img src="{{"img/page_score.png" | absURL}}" class="img-responsive pull-right">
			</div>
		</div>
	</div>
{{ end }}
