{{ define "main" }}
	<div class="m-t-25">

		<div class="row">

      <div class="col-sm-12">
        <div class="page-title">
          <div class="title_left">
          <h3 class="no-m-t fly-out-heading-size text-info">{{ .Title }} </h3>
          <span>Set age groups to be used when setting room occupancy </span>
          </div>
        </div>
      </div>

			<div class="col-sm-12 m-t-40 regions-container">
        <div class="row m-b-20">
          <div class="col-sm-4">
            <label>Adult</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon3">above</span>
              <input type="number" class="form-control" id="basic-url" value="12">
              <span class="input-group-addon" id="basic-addon3">yrs</span>
            </div>
          </div>
          <div class="col-sm-4">
            <label>Child</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon3">below</span>
              <input type="number" class="form-control" id="basic-url" value="12">
              <span class="input-group-addon" id="basic-addon3">yrs</span>
            </div>
          </div>
          <div class="col-sm-4">
            <label>Infant</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon3">below</span>
              <input type="number" class="form-control" id="basic-url" value="2">
              <span class="input-group-addon" id="basic-addon3">yrs</span>
            </div>
          </div>
        </div>

        <div class="row m-t-30">
          <div class="col-sm-12">
            <div class="listing-create-btn">
              <a href="" class="btn fnb-btn secondary-btn bold-btn border-btn full">Save</a>
            </div>
          </div>
        </div>
			</div>

		</div>
	</div>

{{ end }}
