{{ define "main" }}
	<div class="m-t-25">

		<div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="page-title">
          <div class="title_left">
          <h3 class="no-m-t fly-out-heading-size text-info">{{ .Title }} </h3>
          <!-- <span>Set Goomo commission for the services rendered</span> -->
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12">
        <button class="btn fnb-btn transparent bold-btn full flex-row  pull-right m-t-15"  data-toggle="collapse" data-target="#moreFiltersWrap"><img src="{{"img/filter-bars.png" | absURL}}" class="img-responsive p-r-5" width="30"> <span>Filter</span></button>
         <button class="btn fnb-btn outline bold-btn flex-row m-r-10 pull-right m-t-15"><span>Download CSV</span></button>
      </div>

      <div class="col-sm-12 col-xs-12">
        <div class="more-filters-wrapper m-t-25 collapse" id="moreFiltersWrap">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6 col-xs-6">
                <h5 class="mb-3">Filter by</h5>
                </div>
                <div class="col-sm-6 text-right col-xs-6">
                  <button type="button" class="close" data-toggle="collapse" data-target="#moreFiltersWrap">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-md-4">
                  <div class="filter-section mb-4">
                    <h6 class="sub-title bolder">Rooms</h6>
                    <hr class="m-t-0 m-b-5">
                    <div class="loc-filter">
                      <div class="m-b-25">
                       <div >
                      <input type="text" class="form-control fnb-input payment-add flexdatalist" multiple="multiple" placeholder="Type for suggestions &amp; select" list="locations" value="Casa Room">
                      <datalist id="locations">
                          <option value="goa">Casa Room</option>
                          <option value="mumbai">Casa Bella</option>
                          <option value="delhi">Casa Delux Room</option>
                          <option value="gujarat">Premium Room</option>

                      </datalist>
                    </div>
                      </div>


                    </div>
                  </div>

                  <div class="filter-section m-t-20">
                    <h6 class="sub-title bolder">Express Checkin</h6>
                    <hr class="m-t-0 m-b-5">
                    <div class="m-t-20">
                      <label class="radio-inline">
                        <input type="radio" name="expressCheck" id="expressCheckYes" value="yes" class="fnb-radio"> Yes
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="expressCheck" id="expressCheckNo" value="no" class="fnb-radio"> No
                      </label>
                    </div>
                  </div>

                  <div class="filter-section mb-4 m-t-40">
                    <h6 class="sub-title bolder">Location</h6>
                    <hr class="m-t-0 m-b-5">
                    <div class="loc-filter">
                      <div class="m-b-25">
                        <select class="fnb-select select-variant form-control text-lighter m-b-25 country-select" name="" multiple="">
                            <option >India</option>
                            <option>Singapore</option>
                            <option>China</option>
                            <option>Russia</option>
                        </select>
                      </div>

                      <div class="m-b-25">
                        <select class="fnb-select select-variant form-control text-lighter m-b-25 state-select" name="" multiple="">
                            <option>Delhi</option>
                            <option >Goa</option>
                            <option>Gujarat</option>
                            <option>Bangalore</option>
                        </select>
                      </div>

                      <div class="m-b-25">
                        <select class="fnb-select select-variant form-control text-lighter m-b-25 city-select" name="" multiple="">
                            <option >Panjim</option>
                            <option>Mapusa</option>
                            <option>Madgaon</option>
                            <option>Shivajinagar</option>
                        </select>
                      </div>

                      <div class="m-b-25">
                        <select class="fnb-select select-variant form-control text-lighter m-b-25 location-select" name="" multiple="">
                            <option >Panjim</option>
                            <option>Mapusa</option>
                            <option>Madgaon</option>
                            <option>Shivajinagar</option>
                        </select>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="col-sm-12 col-md-4">
                  <div class="filter-section mb-4">
                    <h6 class="sub-title bolder">Status</h6>
                    <hr class="m-t-0 m-b-5">

                    <div class="row mobile-flex">
                      <div class="col-sm-12 col-xs-12">
                          <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" class="">
                               Confirmed
                              </label>
                          </div>
                        </div>
                      <div class="col-sm-12 col-xs-12">
                          <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" class="">
                                Re-Confirmed
                              </label>
                          </div>
                      </div>
                    </div>
                    <div class="row mobile-flex">
                      <div class="col-sm-12 col-xs-12">
                        <div class="checkbox">
                          <label>
                              <input type="checkbox" value="" class="">
                              Cancelled
                            </label>
                        </div>
                      </div>
                            <div class="col-sm-12 col-xs-12">
                        <div class="checkbox">
                          <label>
                              <input type="checkbox" value="" class="">
                              Arrival next 3 days
                            </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="filter-section mb-4 m-t-30">
                    <h6 class="sub-title bolder">Channel</h6>
                    <hr class="m-t-0 m-b-5">

                    <div class="row mobile-flex">
                      <div class="col-sm-6 col-xs-12">
                          <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" class="">
                               Web
                              </label>
                          </div>
                        </div>
                      <div class="col-sm-6 col-xs-12">
                          <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" class="">
                                Mobile
                              </label>
                          </div>
                      </div>
                    </div>
                    <div class="row mobile-flex">
                      <div class="col-sm-6 col-xs-12">
                        <div class="checkbox">
                          <label>
                              <input type="checkbox" value="" class="">
                              B2B
                            </label>
                        </div>
                      </div>
                            <div class="col-sm-6 col-xs-12">
                        <div class="checkbox">
                          <label>
                              <input type="checkbox" value="" class="">
                              Corporate
                            </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mobile-flex">
                      <div class="col-sm-6 col-xs-12">
                        <div class="checkbox">
                          <label>
                              <input type="checkbox" value="" class="">
                              FPH
                            </label>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xs-12">
                        <div class="checkbox">
                          <label>
                              <input type="checkbox" value="" class="">
                              Trade Fair
                            </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mobile-flex">
                      <div class="col-sm-6 col-xs-12">
                        <div class="checkbox">
                          <label>
                              <input type="checkbox" value="" class="">
                              Last Minute
                            </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="filter-section mb-4 m-t-30">
                    <h6 class="sub-title bolder">Vendor</h6>
                    <hr class="m-t-0 m-b-5">

                    <div class="row mobile-flex">
                      <div class="col-sm-6 col-xs-12">
                          <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" class="">
                               All
                              </label>
                          </div>
                        </div>
                      <div class="col-sm-6 col-xs-12">
                          <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" class="">
                                Goomo
                              </label>
                          </div>
                      </div>
                    </div>
                    <div class="row mobile-flex">
                      <div class="col-sm-6 col-xs-12">
                        <div class="checkbox">
                          <label>
                              <input type="checkbox" value="" class="">
                              TG
                            </label>
                        </div>
                      </div>
                      <div class="col-sm-6 col-xs-12">
                        <div class="checkbox">
                          <label>
                              <input type="checkbox" value="" class="">
                              CRT
                            </label>
                        </div>
                      </div>
                    </div>
                    <div class="row mobile-flex">
                      <div class="col-sm-6 col-xs-12">
                        <div class="checkbox">
                          <label>
                              <input type="checkbox" value="" class="">
                              Expedia
                            </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-md-4">
                  <div class="filter-section ">
                    <h6 class="sub-title bolder">Booking </h6>
                    <hr class="m-t-0 m-b-5">
                    <div class="row">
                      <div class="col-sm-12 ">
                        <input type="text" class="form-control fnb-input" id="inlineFormInputGroupUsername2" placeholder="Booking ID">
                      </div>
                      <div class="col-sm-12 ">
                        <input type="text" class="form-control fnb-input" id="inlineFormInputGroupUsername2" placeholder="Promocode">
                      </div>
                      <div class="col-sm-12 ">
                         <input type="text" class="form-control fnb-input" id="inlineFormInputGroupUsername2" placeholder="By Guest Name">
                      </div>
                    </div>
                  </div>

                  <div class="filter-section mb-4 m-t-40">
                    <h6 class="sub-title bolder">Market Manager</h6>
                    <hr class="m-t-0 m-b-5">
                    <div >
                      <input type="text" class="form-control fnb-input payment-add flexdatalist" multiple="multiple" placeholder="Type for suggestions &amp; select" list="locations" value="Sujata Patil">
                      <datalist id="locations">
                          <option value="goa">Sujata Patil</option>
                          <option value="mumbai">Allen Walker</option>
                          <option value="delhi">Delhi</option>
                          <option value="gujarat">Gujarat</option>
                          <option value="bangalore">Bangalore</option>
                      </datalist>
                    </div>
                  </div>

                  <div class="filter-section mb-4 m-t-40">
                    <h6 class="sub-title bolder">Hotel Name</h6>
                    <hr class="m-t-0 m-b-5">
                    <div >
                      <input type="text" class="form-control fnb-input payment-add flexdatalist" multiple="multiple" placeholder="Type for suggestions &amp; select" list="locations" value="Casa Anjuna">
                      <datalist id="hotelname">
                          <option value="goa">Casa Anjuna</option>
                          <option value="mumbai">Casa Vagator</option>
                          <option value="delhi">Casa Baga</option>
                          <option value="gujarat">Chalston Beach Resort</option>
                          <option value="bangalore">Casa Goa</option>
                      </datalist>
                    </div>
                  </div>
                </div>

              </div>


              <div class="row m-t-20">
                <div class="col">
                  <div class="pull-right">
                    <button class="btn outline fnb-btn btn-sm m-r-10">
                      Reset Filters
                    </button>
                    <button class="btn fnb-btn secondary-btn btn-sm" data-toggle="collapse" data-target="#moreFiltersWrap">
                      Apply Filters
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row m-t-20">
      <div class="col-md-12">
        <table id="location-table" class="table table-striped dataTable listing-table" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="text-left" style="" rowspan="1">
                Booking ID
              </th>
              <th class="text-left" style="" rowspan="1">
               Booked By
              </th>
              <th class="text-left" style="" rowspan="1">
                Hotel Name
              </th>
              <th class="text-left" style="" rowspan="1">
                Room <br>Name
              </th>
              <th class="" style="min-width: 25%;">
                Country/State/ City/Location
              </th>
              <th class="text-left "  rowspan="1">

                Arrival
              </th>
              <th class="text-left" style="" rowspan="1">
                Departure
              </th>
               <th class="text-left" style="min-width: 65px;" rowspan="1">
               Price
              </th>
              <th class="text-left" style="" rowspan="1">
               Status
              </th>
              <th class="text-left no-sort" style="" rowspan="1">
               Vendor
              </th>
              <th class="text-left no-sort" style="" rowspan="1">
               Channel
              </th>
              <th class="text-left no-sort" style="" rowspan="1">
               Express<br>Checkin
              </th>
              <th class="no-sort" rowspan="1">
                Remarks
              </th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td class="text-left small"><b><a href="/goomo_html/bookings/booking-details/casa-colvale" target="_blank">ARK00000DXL4</a></b></td>
              <td class="text-left"><b>Aravind Bargur</b><br><sm class="text-muted small">on Wed, 01 Oct 2017<br>at 12:15 PM</sm></td>
              <td class="text-left"><b>Casa Colvale</b></td>
              <td class="text-left"><b>Casa Room</b><br><sm class="text-muted small">2 Guest - 1 Rooms</sm></td>
              <td>India - Goa - Panjim</td>
              <td class="text-left"><b>05 Oct 2017</b></td>
              <td class="text-left"><b>08 Oct 2017</b></td>
              <td class="text-left"><b>₹ 2,400</b></td>
              <td class="text-left"><span class="text-primary"> Confirmed</span> </td>
              <td class="text-left">Goomo</td>
              <td class="text-left">Web</td>
              <td class="text-left">Yes</td>
              <td >
                -
              </td>
            </tr>
          <tr>
              <td class="text-left small"><b><a href="/goomo_html/bookings/booking-details/casa-anjuna" target="_blank">ARK00000DXL4</a></b></td>
              <td class="text-left"><b>Aravind Bargur</b><br><sm class="text-muted small">on Wed, 01 Oct 2017<br>at 12:15 PM</sm></td>
              <td class="text-left"><b>Casa Anjuna</b></td>
              <td class="text-left"><b>Casa Room</b><br><sm class="text-muted small">2 Guest - 1 Rooms</sm></td>
              <td>India - Goa - Panjim</td>
              <td class="text-left"><b>05 Oct 2017</b></td>
              <td class="text-left"><b>08 Oct 2017</b></td>
              <td class="text-left"><b>₹ 2,400</b></td>
              <td class="text-left"><span class="text-secondary"> Arrival next <br>3 days</span> </td>
              <td class="text-left">TG</td>
              <td class="text-left">B2B</td>
              <td class="text-left">No</td>
              <td>
                Early Checkin
              </td>
            </tr>
             <tr>
              <td class="text-left small"><b><a href="/goomo_html/bookings/booking-details/casa-baga" target="_blank">ARK00000DXL4</a></b></td>
              <td class="text-left"><b>Aravind Bargur</b><br><sm class="text-muted small">on Wed, 01 Oct 2017<br>at 12:15 PM</sm></td>
              <td class="text-left"><b>Casa Baga</b></td>
              <td class="text-left"><b>Casa Room</b><br><sm class="text-muted small">2 Guest - 1 Rooms</sm></td>
              <td>India - Goa - Panjim</td>
              <td class="text-left"><b>05 Oct 2017</b></td>
              <td class="text-left"><b>08 Oct 2017</b></td>
              <td class="text-left"><b>₹ 2,400</b></td>
              <td class="text-left"><span class="text-primary"> Confirmed</span> </td>
              <td class="text-left">Goomo</td>
              <td class="text-left">Web</td>
              <td class="text-left">No</td>
              <td>
                Drop Required
              </td>
            </tr>
          <tr>
              <td class="text-left small"><b><a href="/goomo_html/bookings/booking-details/casa-vagator" target="_blank">ARK00000DXL4</a></b></td>
              <td class="text-left"><b>Aravind Bargur</b><br><sm class="text-muted small">on Wed, 01 Oct 2017<br>at 12:15 PM</sm></td>
              <td class="text-left"><b>Casa Vagator</b></td>
              <td class="text-left"><b>Casa Room</b><br><sm class="text-muted small">2 Guest - 1 Rooms</sm></td>
              <td>India - Goa - Panjim</td>
              <td class="text-left"><b>05 Oct 2017</b></td>
              <td class="text-left"><b>08 Oct 2017</b></td>
              <td class="text-left"><b>₹ 2,400</b></td>
              <td class="text-left"><span class="text-secondary"> Arrival next <br>3 days</span> </td>
              <td class="text-left">Expedia</td>
              <td class="text-left">Mobile</td>
              <td class="text-left">No</td>
              <td>
                Non smoking rooms
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
	</div>

{{ end }}
