{{ define "main" }}
	<div class="m-t-25">

		<div class="row">

      <div class="col-sm-12">
        <div class="page-title">
          <div class="title_left">
          <h3 class="no-m-t fly-out-heading-size text-info">{{ .Title }} </h3>
          <span>Set Goomo commission for the services rendered</span>
          </div>
        </div>
      </div>

			<div class="col-sm-12 m-t-40 regions-container">
        <div class="row m-b-20">
          <div class="col-sm-1">
            <label>Web</label>
          </div>
          <div class="col-sm-2 flex-row">
            <input type="number" class="form-control p-l-10 m-r-5 fnb-input" name="" value="20" disabled=""> <i class="fa fa-percent"></i> <a href="#" class="m-l-20 text-secondary" data-toggle="modal" data-target="#edit_commission_modal">Edit</a>
          </div>
        </div>
        <hr>
        <div class="row m-b-20">
          <div class="col-sm-1">
            <label>Mobile</label>
          </div>
          <div class="col-sm-2 flex-row">
            <input type="number" class="form-control p-l-10 m-r-5 fnb-input" name="" value="20" disabled=""> <i class="fa fa-percent"></i> <a href="#" class="m-l-20 text-secondary" data-toggle="modal" data-target="#edit_commission_modal">Edit</a>
          </div>
        </div>
        <hr>
        <div class="row m-b-20">
          <div class="col-sm-1">
            <label>B2B</label>
          </div>
          <div class="col-sm-2 flex-row">
            <input type="number" class="form-control p-l-10 m-r-5 fnb-input" name="" value="20" disabled=""> <i class="fa fa-percent"></i> <a href="#" class="m-l-20 text-secondary" data-toggle="modal" data-target="#edit_commission_modal">Edit</a>
          </div>
        </div>
        <hr>
        <div class="row m-b-20">
          <div class="col-sm-1">
            <label>FPH</label>
          </div>
          <div class="col-sm-2 flex-row">
            <input type="number" class="form-control p-l-10 m-r-5 fnb-input" name="" value="20" disabled=""> <i class="fa fa-percent"></i> <a href="#" class="m-l-20 text-secondary" data-toggle="modal" data-target="#edit_commission_modal">Edit</a>
          </div>
        </div>
			</div>


		</div>
	</div>

  <div class="modal fade region-add-modal" id="edit_commission_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h6 class="modal-title">Edit Commission</h6>
          </div>
          <div class="modal-body">


            <div class="form-group m-b-20">
              <label>Web <span class="text-danger">*</span></label>
               <input type="number" class="form-control fnb-input" name="" value="20" placeholder="Enter Commission Percent">
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn fnb-btn outline no-border" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn primary-btn fnb-btn no-radius">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{{ end }}
