{{ define "main" }}
	<div class="m-t-25">

		<div class="row">
			<div class="col-sm-12">
				<div class="flex-row space-between">
					<div class="main-title">
						<h3 class="no-m-t fly-out-heading-size text-info ">{{ .Title }}</h3>
						<p class="text-muted">Please complete the fields below. All fields are required</p>
					</div>
					<div class="section-icon">
						<img src="{{"img/create-listing.png" | absURL}}" class="img-responsive">
					</div>
				</div>
			</div>
			<!-- Form elements -->
			<div class="col-sm-12">
				<h5 class="bolder m-t-35 prop-title">Property Information</h5>
				<div class="row field-gap c-gap">
		            <div class="col-sm-6">
		                <label class="label-size text-info">Business Name <i class="fa fa-question-circle p-l-5 text-info" aria-hidden="true"></i></label>
		                <input type="text" class="form-control fnb-input" placeholder="Lorem ipsum dolar sit amet">
		            </div>
		            <div class="col-sm-6 c-gap">
		                <label class="label-size text-info">Display Name <i class="fa fa-question-circle p-l-5 text-info" aria-hidden="true"></i></label>
		                <input type="text" class="form-control fnb-input" placeholder="Lorem ipsum dolar sit amet">
		            </div>
		        </div>
		        <div class="row listing-fields">
		        	<div class="col-sm-9">
		        		<div class="row field-gap">
			        		<div class="col-sm-4 c-gap">
				                <label class="label-size text-info">Country</label>
				                <select class="fnb-select select-variant form-control text-lighter" name="">
				                    <option value="">None</option>
				                    <option selected="">Three Star</option>
				                </select>
				            </div>
				            <div class="col-sm-4 c-gap">
				                <label class="label-size text-info">State</label>
				                <select class="fnb-select select-variant form-control text-lighter" name="">
				                    <option value="">None</option>
				                    <option selected="">Three Star</option>
				                </select>
				            </div>
				            <div class="col-sm-4 c-gap">
				                <label class="label-size text-info">City</label>
				                <select class="fnb-select select-variant form-control text-lighter" name="">
				                    <option value="">None</option>
				                    <option selected="">Three Star</option>
				                </select>
				            </div>
				        </div>
				        <div class="row field-gap">
				            <div class="col-sm-12 location-row c-gap">
				                <label class="label-size text-info">Location</label>
				                 <input type="text" class="form-control fnb-input payment-add flexdatalist" multiple="multiple" placeholder="Type for suggestions &amp; hit enter" list="locations" value="">
						        <datalist id="locations">
						            <option value="goa">Goa</option>
						            <option value="mumbai">Mumbai</option>
						            <option value="delhi">Delhi</option>
						            <option value="gujarat">Gujarat</option>
						            <option value="bangalore">Bangalore</option>
						        </datalist>
				            </div>
				        </div>
				        <div class="row flex-row flex-wrap field-gap">
				            <div class="col-sm-4 c-gap">
				                <label class="label-size text-info">Chain Name</label>
				                <select class="fnb-select select-variant form-control text-lighter" name="">
				                    <option value="">None</option>
				                    <option>Test</option>
				                </select>
				            </div>
				            <div class="col-sm-4 c-gap">
				                <label class="label-size text-info">Hotel Type</label>
				                <select class="fnb-select select-variant form-control text-lighter" name="">
				                    <option value="">None</option>
				                    <option>Test</option>
				                </select>
				            </div>
				            <div class="col-sm-4 c-gap">
				                <label class="label-size text-info">Property Theme</label>
				                <select class="fnb-select select-variant form-control text-lighter" name="">
				                    <option value="">None</option>
				                    <option>Test</option>
				                </select>
				            </div>
				            <div class="col-sm-4 c-gap field-gap">
				                <label class="label-size text-info">Star Rating</label>
				                <select class="fnb-select select-variant form-control text-lighter" name="">
				                    <option value="">None</option>
				                    <option selected="">Three Star</option>
				                </select>
				            </div>	
				        </div>
		        	</div>        		
		            <div class="col-sm-3 c-gap">
		            	<div class="contract text-center">
		            		<img src="{{"img/contract.png" | absURL}}" class="img-responsive center-block">
		            		<h6>Contract Signed ?</h6>
		            		<div class="radio-group m-t-15 m-b-15">
		            			<label for="yes" class="m-r-15">
		            				<input value="" type="radio" class="fnb-radio" name="contract" id="yes" 
		            				checked="">	
		            				<span class="p-l-5 text-medium">Yes</span>
		            			</label>
		            			<label for="no">
		            				<input value="" type="radio" class="fnb-radio" name="contract" id="no">	
		            				<span class="p-l-5 text-medium">No</span>
		            			</label>
		            		</div>
		            		<p class="text-muted">Uplaod a picture of the signed page</p>
		            		<button class="btn fnb-btn s-outline bold-btn full m-t-10"><i class="fa fa-camera p-r-5" aria-hidden="true"></i> <span>Upload</span></button>
		            	</div>
		            </div>
		        </div>
			</div>
			<!-- Assign Manager -->
			<div class="col-sm-12 m-t-40 listing-fields">
				<h5 class="bolder m-t-35 prop-title">Assign a Market Manager <i class="fa fa-question-circle p-l-5 text-info" aria-hidden="true"></i></h5>
				<div class="row field-gap flex-row flex-wrap">
		            <div class="col-sm-4 c-gap">
		                <label class="label-size text-info">Market Manager</label>
		                <select class="fnb-select select-variant form-control text-lighter" name="">
		                    <option value="">None</option>
		                    <option selected="">Vikas Khanna</option>
		                </select>
		            </div>
		            <div class="col-sm-4 c-gap flex-row">
		                <img src="{{"img/bulb.png" | absURL}}" class="img-responsive">
		                <p class="m-b-0 text-muted p-l-5">The Property you are about to create will be associated with the selected Market Manager</p>
		            </div>
		        </div>
		        <div class="row m-t-15 c-gap">
		        	<div class="col-sm-4 mobile-center">
		            	<button class="btn fnb-btn s-outline bold-btn full m-t-10"><span>Continue</span></button>
		            </div>	
		        </div>
			</div>
			<!-- Add a user -->
			<div class="col-sm-12 m-t-40 listing-fields m-b-50">
				<img src="{{"img/user.png" | absURL}}" class="img-responsive user-icon">
				<div class="add-user">
					<h5 class="bolder m-t-25 prop-title">Add a User</h5>
					<div class="row field-gap">
			            <div class="col-sm-6 c-gap">
			                <input type="text" class="form-control fnb-input no-label" placeholder="First Name">
			            </div>
			            <div class="col-sm-6 c-gap">
			                <input type="text" class="form-control fnb-input no-label" placeholder="Last Name">
			            </div>
			            <div class="col-sm-6 c-gap field-gap">
			                <input type="email" class="form-control fnb-input no-label" placeholder="Email Address">
			            </div>
			            <div class="col-sm-6 c-gap field-gap">
			                <input type="tel" class="form-control fnb-input no-label" placeholder="Contact Number">
			            </div>
			        </div>
			        <div class="row field-gap">
			            <div class="col-sm-4 c-gap">
			            	<label class="label-size text-info">Role</label>
			                <select class="fnb-select select-variant form-control text-lighter" name="">
			                    <option value="">None</option>
			                    <option selected="">General Manager</option>
			                </select>
			            </div>
			            <div class="col-sm-8 c-gap">
			                <p class="m-b-0 text-color m-r-40 m-t-10"><span class="text-danger">Note:</span> This user will have full access to manage the property he/she can edit the information for this property. This user can add and remove other user and also control the access each of the other users get.</p>
			            </div>
			        </div>
				</div>
				<div class="row m-t-30">
				    <div class="col-sm-12">
		            	<div class="pull-right listing-create-btn">
		            		<button class="btn fnb-btn secondary-btn bold-btn full">Create Property</button>
		            	</div>
		            </div>
				</div>
			    
			</div>
		</div>
	</div>
{{ end }}
