{{ define "main" }}
	<div class="">

		<div class="row">
			<div class="col-sm-12">

				<div class="listing-details m-t-30">
					<!-- <h4 class="no-m-t fly-out-heading-size bat-color bolder">Your Property Details</h4> -->
					<div class="flex-row property-status-box">
						<div class="status-info">
							The Qc team has a few suggestions. Please make below suggested changes and resubmit for review.
						</div>
						<div class="check-status">
							Checklist Status:<br>
							<img src="{{"img/green-check-circle.png" | absURL}}" class="img-responsive m-t-15 center-block" width="">
						</div>
						<div class="qc-status">
							QC Status:<br>
							<select class="fnb-select select-variant form-control suggestion-select bat-color">
			                    <option value="">--Select--</option>
			                    <option selected="">Edit Suggested</option>
			                </select>
			                <a href="#" class="secondary-link open-sidebar form-toggle text-decor label-size leave-com">Leave a comment</a>
						</div>
					</div>
				</div>

				<div class="finance-col financeCols m-t-40">
					<h5 class="no-m-t fly-out-heading-size bat-color bolder m-b-20">Finance Inputs</h5>
					<div class="row finance-inputs">
						<div class="col-sm-3 target-col">
							<label class="label-size m-b-0"><h6 class="dis-inline m-b-0">[INR]</h6> Indian Rupee</label>
		                	<input type="text" class="form-control fnb-input" readonly="" placeholder="Currency">
						</div>
						<div class="col-sm-3 target-col">
							<label class="label-size m-b-0"><h6 class="dis-inline m-b-0">30</h6> %</label>
		                	<input type="text" class="form-control fnb-input" readonly="" placeholder="Commission">
						</div>
						<div class="col-sm-6">
							<div class="vendor-code">
								<p class="sub-title text-secondary">ABCD 204550600000</p>
								<h6 class="text-medium text-muted m-b-0">NAV vendor code</h6>
							</div>
						</div>
					</div>
				</div>
				
				<div class="bank-details financeCols m-t-40">
					<h5 class="no-m-t fly-out-heading-size bat-color bolder m-b-20">Bank details</h5>
					<table id="listings-table" class="table table-striped dataTable listing-table" cellspacing="0" width="100%">
			        	<thead>
				            <tr>
				            	<th class="">Account No</th>
				              	<th class="">Holder name</th>
				              	<th class="">Bank Name</th>
				              	<th class="">IFSC Code</th>
				              	<th class="">PAN No</th>
				              	<th class="">Cancelled Cheque</th>
				              	<th class="">Status</th>
				              	<th class="text-center">Action</th>
				            </tr>
			          	</thead>
			         	<tbody>
				            <tr>
				              <td class=""><a href="#" class="text-info bolder">FC1123333445</a></td>
				              <td class="">Sujata Patil</td>
				              <td class="">HDFC BANK</td>
				              <td class="">HDFCC129399</td>
				              <td class="">AWCET1234</td>
				              <td class=""><a href="#" class="secondary-link"><i class="fa fa-download" aria-hidden="true"></i> Download</a></td>
				              <td class=""><span class="text-info">Active</span></td>
				              <td class="text-center"><a href="#" class="secondary-link"><i class="fa fa-pencil text-decor" aria-hidden="true"></i></a></td>
				            </tr>
			          	</tbody>
		       		</table>
				</div>

				<div class="tax-rules financeCols m-t-40">
					<div class="flex-row space-between">
						<h5 class="no-m-t fly-out-heading-size bat-color bolder m-b-20">Tax Rules</h5>	
						<button class="btn fnb-btn s-outline bold-btn full m-t-10"><span>Add Tax Rule</span></button>
					</div>
					
					<table id="tax-table" class="table table-striped dataTable listing-table" cellspacing="0" width="100%">
			        	<thead>
				            <tr>
				            	<th class="">Start Date</th>
				              	<th class="">End Date</th>
				              	<th class="">Related To</th>
				              	<th class="">Room(Rateplan)</th>
				              	<th class="" style="width: 330px;">Rules</th>
				              	<th class="text-center">Action</th>
				            </tr>
			          	</thead>
			         	<tbody>
				            <tr>
				              <td class=""><span class="text-color bolder">30 May 2017</span></td>
				              <td class=""><span class="text-color bolder">31 May 2017</span></td>
				              <td class=""><span class="text-color bolder">Hotel</span></td>
				              <td class="">--</td>
				              <td class=""><span class="text-color bolder">Other Tax on Rack Rat</span><br> Type: Percentage | Value: 10.0</td>
				              <td class="text-center"><a href="#" class="secondary-link"><i class="fa fa-pencil text-decor" aria-hidden="true"></i></a></td>
				            </tr>
			          	</tbody>
		       		</table>
				</div>			
				
				<div class="contract-col financeCols m-t-40">
					<h5 class="no-m-t fly-out-heading-size bat-color bolder m-b-20">Contract</h5>	

					<label class="sub-title text-info m-t-20 m-b-10">Terms &amp; Conditions</label>
		            <p class="text-lighter captionStyle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit inventore ut autem et nostrum eius quae aspernatur doloremque nesciunt officia?</p>

		            <label class="sub-title text-info m-t-40 m-b-10 signed-label dis-block">Signed Contract Uploaded</label>
		            <div class="text-center dis-inline">
		            	<img src="{{"img/signed.png" | absURL}}" class="img-responsive">
						<a href="#" class="text-decor secondary-link">Preview</a>
		            </div>
				</div>

				<div class="declaration financeCols m-t-40">
					<div class="declaration-row flex-row space-between">
						<p class="m-b-0 sub-title text-info bolder">I hereby declare that the details furnished above are true and correct</p>
						<p class="m-b-0 text-secondary bolder"><i class="fa fa-check" aria-hidden="true"></i> Confirmed</p>
					</div>
				</div>

			</div>
		</div>
	</div>






{{ end }}
